{% extends 'base.html.twig' %}

{% block title %} Presensi Mahasiswa {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}">
{% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<table class="table no-border">
			<tr>
				<th width="130">Semester</th>
				<td>
					<select class="form-control" id="semester-select" style="width:200px;">
						<option value="">-- Pilih --</option>
						{% for i in 1..8 %}
							<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th>Kelas</th>
				<td>
					<select class="form-control select2" id="kelas-select" style="width:150px">
						<option value="">-- Pilih --</option>
						{% for kelas in app_service.getKelasList() %}
							<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }} {{ (kelas.ruangan is not empty) ? '('~kelas.ruangan~')' : '' }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			{% if app.request.get('semester') is not empty and app.request.get('kelas') is not empty %}
			<tr>
				<th>Mata Kuliah</th>
				<td>
					<select class="form-control select2" id="makul-select" style="width:350px">
						<option value="">-- Pilih --</option>
						{% for makul in dataMakul %}
							<option value="{{ makul.id }}" {{ (app.request.get('makul') == makul.id) ? 'selected' : '' }}>{{ makul.makul.nama }}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			{% endif %}
		</table>
	</div>
	{% if data.error is null and app.request.get('makul') is not empty and app.request.get('makul') != 'undefined' %}
	<div class="box-body">

			<table id="datatablePresensi" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">&nbsp;</th>
						<th rowspan="2">NPM</th>
						<th rowspan="2">Nama</th>
						<th rowspan="2">Angkatan</th>
						<th class="text-center" colspan="4">
							Presensi
							<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" data-aksi="new">
							  <i class="fa fa-plus"></i>
							</button>
						</th>
					</tr>
					<tr>
						<th class="text-center">Hadir</th>
						<th class="text-center">Sakit</th>
						<th class="text-center">Ijin</th>
						<th class="text-center">Alpa</th>
					</tr>
				</thead>
			<tbody>
			{% for td in data.result %}
				
				<tr id="data-{{ td.id }}">
					<td align="center" width="120">
						<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-id="{{ td.id }}" data-nim="{{ td.nim }}" data-nama="{{ td.nama }}" data-angkatan="{{ td.angkatan }}"><i class="fa fa-edit"></i></a>
						{# <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" data-aksi="view" data-id="{{ td.id }}"><i class="fa fa-crosshairs"></i></a> #}
						<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('cetak_presensi', {role: 'mahasiswa', id: td.id}) }}')"><i class="fa fa-print"></i></a>
					</td>
					<td>{{ td.nim }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.angkatan }}</td>
					<td align="center">{{ td.presensi.hadir }}</td>
					<td align="center">{{ td.presensi.sakit }}</td>
					<td align="center">{{ td.presensi.ijin }}</td>
					<td align="center">{{ td.presensi.alpa }}</td>
				</tr>

			{% endfor %}
			</tbody>
			</table>
	</div>
	{% endif %}
</div>

{% if data.error is null %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
	{% form_theme form "form/bootstrap_3_layout.html.twig" %}
  	{{ form_start(form, {attr: {'class': 'modal-content'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Presensi Mahasiswa</h4>
      </div>
      <div class="modal-body">

	  	{{ form_errors(form) }}

      	<div>
      		<div class="pull-left">
      			<div class="form-inline">
      				<div class="form-group">
      					{{ form_label(form.tanggal) }}
      					{{ form_widget(form.tanggal, {value: "now"|date('d-m-Y')}) }}
      				</div>
      			</div>
      		</div>
      		<div class="pull-right">
      			<div class="form-inline">
      				<div class="form-group">
      					{{ form_label(form.jam) }}
      					{{ form_widget(form.jam) }}
      				</div>
      			</div>
      		</div>
      	</div>
      	<br><br>
        <div>
			<table id="datatable2" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">NIM</th>
						<th rowspan="2">Nama</th>
						<th rowspan="2">Angkatan</th>
						{# <th rowspan="2">Batas Studi</th> #}
					</tr>
					<tr>
						<th class="text-center">Hadir</th>
						<th class="text-center">Sakit</th>
						<th class="text-center">Ijin</th>
						<th class="text-center">Alpa</th>
					</tr>
				</thead>
			<tbody>
				{% set count = 0 %}
				{% for td in data.result %}
				<tr>
					<td>
						{{ td.nim }}
						<input type="hidden" id="form_user_{{ count }}" name="form[mhs][{{ count }}]" value="{{ td.id }}">
						<input type="hidden" id="form_presensi_{{ td.id }}" name="form[presensi][{{ count }}]" value="">
					</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.angkatan }}</td>
					{# <td>{{ printBatasStudi(td) }}</td> #}
					<td align="center"><input type="radio" name="presensi_{{ count }}_{{ td.id }}" value="hadir"></td>
					<td align="center"><input type="radio" name="presensi_{{ count }}_{{ td.id }}" value="sakit"></td>
					<td align="center"><input type="radio" name="presensi_{{ count }}_{{ td.id }}" value="ijin"></td>
					<td align="center"><input type="radio" name="presensi_{{ count }}_{{ td.id }}" value="alpa"></td>
				</tr>
				{% set count = count+1 %}
				{% endfor %}
			</tbody>
			</table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        {{ form_widget(form.ret, {value: path('presensi_mahasiswa_index', { 'semester': app.request.get('semester'), 'kelas': app.request.get('kelas'), 'makul': app.request.get('makul') })}) }}
        {{ form_widget(form.id_makul, {value: app.request.get('makul')}) }}
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    {{ form_end(form) }}
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <form action="{{ path('presensi_mahasiswa_edit') }}" method="post" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Presensi Mahasiswa</h4>
      </div>
      <div class="modal-body">

      		<table class="table no-border">
      			<tr>
      				<td width="200">NPM</td>
      				<td>
      					<span id="mhs-nim"></span>
      					<input type="hidden" name="nim" value="0">
      				</td>
      			</tr>
      			<tr>
      				<td>NAMA</td>
      				<td><span id="mhs-nama"></span></td>
      			</tr>
      			<tr>
      				<td>ANGKATAN</td>
      				<td><span id="mhs-angkatan"></span></td>
      			</tr>
      		</table>

			<table id="presensi-user" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2" width="20">No</th>
						<th rowspan="2">Hari/Tanggal</th>
						<th rowspan="2">Jam</th>
						<th class="text-center" colspan="4">Presensi</th>
					</tr>
					<tr>
						<th class="text-center">Hadir</th>
						<th class="text-center">Sakit</th>
						<th class="text-center">Ijin</th>
						<th class="text-center">Alpa</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}

{% block js %}
<script src="{{ asset('plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
<script>
  	$(function () {
    	$("#datatablePresensi,#datatable2").DataTable({
    		ordering: false
    	});
  	});

  	$("#semester-select, #kelas-select, #makul-select").on('change', function(){
  		var semester = $("#semester-select").val();
  		if (semester === '') {
  			$("#kelas-select").val('');	
  			$("#makul-select").val('');	
  		}
  		var kelas = $("#kelas-select").val();
  		var makul = $("#makul-select").val();
  		var url = "{{ path('presensi_mahasiswa_index') }}?semester="+semester+"&kelas="+kelas+"&makul="+makul;
  		window.location.replace(url);
  	});	
</script>

{% set count = 0 %}
{% for mhs in data.result %}
	<script>
		$(function(){
			$("input[name='presensi_{{ count }}_{{ mhs.id }}']").on('change', function(){
				$("#form_presensi_{{ mhs.id }}").val(this.value);
			});
		});
	</script>
	{% set count = count+1 %}
{% endfor %}

<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var mhs_id = button.data('id') 
	  var nim = button.data('nim')
	  var nama = button.data('nama') 
	  var angkatan = button.data('angkatan') 
	  
	  var modal = $(this)
	  // modal.find('.modal-title').text('New message to ' + recipient)
	  modal.find('.modal-body input[name="nim"]').val(nim)
	  modal.find('.modal-body #mhs-nim').text(nim)
	  modal.find('.modal-body #mhs-nama').text(nama)
	  modal.find('.modal-body #mhs-angkatan').text(angkatan)

		$.ajax({
		  	type: "POST",
		  	url: "{{ path('presensi_mahasiswa_edit_ajax') }}",
		  	data: {username: nim}
        })
        .done(function(response) {
          	$('#presensi-user tbody').html(response)
        })
        .fail(function(data) {
          alert('Terjadi kesalahan pengambilan data...')
        });
	});
</script>
{% endblock %}