{% extends 'base.html.twig' %}

{% block title %} Data Tahun Akademik {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<a href="{{ path('tahun_akademik_edit', {aksi: 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable1" data-order="[1]" class="table table-hover table-striped table-responsive">
	    <thead>
			<tr>
				<th>&nbsp;</th>
				<th>Kode</th>
				<th>Nama Tahun Akademik</th>
				<th>Tahun</th>
				{# <th>Semester</th> #}
				<th>Mulai</th>
				<th>Sampai</th>
				<th>&nbsp;</th>
			</tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.kode }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.tahun }}</td>
{# 					<td>
						{% if td.kodeSemester == 1 %} Ganjil {% elseif td.kodeSemester == 2 %} Genap {% endif %}
					</td> #}
					<td>{{ dateRange(td.perkuliahan, 'mulai')|date('d-m-Y') }}</td>
					<td>{{ dateRange(td.perkuliahan, 'akhir')|date('d-m-Y') }}</td>
					<td align="center" width="125">
						<div class="btn-group">
							<a href="{{ path('tahun_akademik_edit', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
							<a href="#" class="btn btn-sm btn-primary {{ ( td.aktif == 1 ) ? 'disabled' : '' }} hapus-btn" data-id="{{ td.id }}" data-entity="TahunAkademik"><i class="fa fa-trash"></i></a>
							<a href="#" class="aksi-btn btn btn-sm btn-{{ ( td.aktif == 1 ) ? 'default disabled' : 'primary' }}" data-id="{{ td.id }}" data-title="{{ td.nama }}"><i class="fa fa-folder-{{ ( td.aktif == 1 ) ? 'open-' : '' }}o"></i></a>
						</div>
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
		$(".aksi-btn").click(function(e){
			var thn = $(this);
			e.preventDefault();
			$.confirm({
					title: '',
					content: 'Aktifkan tahun akademik '+thn.data('title')+'?',
					buttons: {
							ya: function () {
								thn.html('<img src="{{ asset("uploads/loader2.gif") }}">');
								$.ajax({
									type: 'POST',
									url: '{{ path("tahun_akademik_update") }}',
									data: {id:thn.data('id')},
									success: function() {
										$(".aksi-btn").removeClass('btn-default').removeClass('disabled').addClass('btn-primary').html('<i class="fa fa-folder-o"></i>');
										thn.removeClass('btn-primary').addClass('btn-default disabled').html('<i class="fa fa-folder-open-o"></i>');

										$(".disabled.hapus-btn").removeClass('disabled');
										$("tr#data-"+thn.data('id')+" .hapus-btn").addClass('disabled');

										$.alert('Tahun akademik '+thn.data('title')+' telah diaktifkan');
									}
								})
							},
							batal: function () {
								// alert('Canceled!');
							}
					}
			});
		});
</script>
{% endblock %}