{% extends 'base.html.twig' %}

{% block title %} Grafik Prodi Mahasiswa {% endblock %}

{% block breadcrumbs %}
<li class="disabled">Grafik</li>
<li class="active">{{ data.result.options.title }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6">
    <!-- DONUT CHART -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Presentase {{ data.result.options.title }} </h3>
      </div>
      <div class="box-body">
        <div id="pieChart"></div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
  <!-- /.col (LEFT) -->
  <div class="col-sm-12 col-md-12 col-lg-6">
    <!-- BAR CHART -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Grafik {{ data.result.options.title }} </h3>
      </div>
      <div class="box-body">
        <div class="chart">
          <div id="barChart"></div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div>
  <!-- /.col (RIGHT) -->
</div>
{% endblock %}


{% block js %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Jumlah');
    data.addColumn('number', 'Jumlah Peserta Didik');
    data.addRows({{ data.result.rows|serialize|raw }});

    // Set chart options
    var options = {{ data.result.options|serialize|raw }};

    // Instantiate and draw our chart, passing in some options.
    var pieChart = new google.visualization.PieChart(document.getElementById('pieChart'));
    pieChart.draw(data, options);
    var barChart = new google.visualization.BarChart(document.getElementById('barChart'));
    barChart.draw(data, options);
  }
</script>

{% endblock %}