{% extends 'base.html.twig' %}

{% block title %} Data Tugas Akhir Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		{% set mhs = data.result.mahasiswa %}
		{% set nim = mhs.user.username %}
		<div class="row">
			<div class="col-sm-6">
				<table class="table">
					<tr>
						<td>NAMA:</td>
						<td>{{ getMahasiswa(nim, 'nama') }}</td>
					</tr>
					<tr>
						<td>NIM:</td>
						<td>{{ nim }}</td>
					</tr>
					<tr>
						<td>ANGKATAN:</td>
						<td>{{ mhs.angkatan }}</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<table class="table">
					<tr>
						<td>PROGRAM STUDI:</td>
						<td>{{ mhs.user.prodi.jenjang }} {{ mhs.user.prodi.namaProdi }}</td>
					</tr>
					<tr>
						<td>SEMESTER:</td>
						<td>{{ mhs.semester }}</td>
					</tr>
					<tr>
						<td>TAHUN AJARAN:</td>
						<td>{{ option.ta.tahun }}</td>
					</tr>
				</table>
			</div>
		</div>


		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
		{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}