{% extends 'base.html.twig' %}

{% block title %} Mahasiswa | Anggota Perpustakaan {% endblock %}

{% block pageTitle %} Mahasiswa <small>Anggota Perpustakaan</small> {% endblock %}

{% block breadcrumbs %}
<li class="disabled">Anggota Perpustakaan</li>
<li class="active">Mahasiswa</li>
{% endblock %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header with-border">
		<div class="form-inline">
			<label>Angkatan</label>
			<select id="angkatan" class="form-control" style="margin: 0 .5em">
				<option value="">-- Pilih tahun --</option>
				{% for i in "now"|date("Y")..2000 %}
					<option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>NPM</th>
					<th>Nama</th>
					<th>L/P</th>
					<th>Kelahiran</th>
					<th>Semester</th>
					<th>Status</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.username }}</td>
					<td>{{ td.nama }}</td>
					<td>{{ td.jk|upper }}</td>
					<td>{{ (td.tpt_lahir is not null) ? td.tpt_lahir~',' : '' }} {{ (td.tgl_lahir is not null) ? td.tgl_lahir|tanggal : '' }}</td>
					<td>{{ td.semester }}</td>
					<td>{{ td.status }}</td>
					<td align="center">
						<a href="{{ path('anggota_perpustakaan_cetak', {id: td.id}) }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-print"></i></a>
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
  	$("#angkatan").on('change', function(){
  		if (this.value !== '') {
  			var url = "{{ path('anggota_perpustakaan_index', {role: 'mahasiswa'}) }}"+"?angkatan="+this.value;
  			window.location.replace(url);
  		}
  	});
</script>
{% endblock %}