{% extends 'base.html.twig' %}

{% block title %} Data Mahasiswa Cuti {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
		<thead>
			<tr>
				<th class="text-center">No</th>
				<th>NIM</th>
				<th>Nama Mahasiswa</th>
				<th>Angkatan</th>
				<th>Mulai Cuti</th>
				<th>Akhir Cuti</th>
				<th>Status Cuti</th>
			</tr>
		</thead>
		<tbody>
			{% for td in data %}
				{% if td.status != 'AKTIF' %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.mahasiswa.user.username }}</td>
					<td>{{ td.mahasiswa.user.nama }}</td>
					<td>{{ td.mahasiswa.angkatan }}</td>
					<td>{{ td.tglMulai }}</td>
					<td>{{ td.tglAkhir }}</td>
					<td><a href="#" class="status-cuti" data-type="select" data-pk="{{ td.id }}">{{ td.status }}</a></td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.status-cuti').editable({
        url: '{{ path("status_cuti_update") }}',
        title: 'Status Cuti',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},
        source: [				
              {value: 'PENGAJUAN', text: 'PENGAJUAN'},
              {value: 'CUTI', text: 'CUTI'},
              {value: 'AKTIF', text: 'AKTIF'}
           ],
       	success: function(data, config) {
         	return true
       	}
    });
});
</script>
{% endblock %}