{% extends 'base.html.twig' %}

{% block title %} Daftar Mahasiswa Lulus/Dropout {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>Tahun Masuk</th>
				<th>SKS</th>
				{# <th>IPK</th> #}
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
				{% for td in data.result %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ td.nim }}</td>
						<td><a href="{{ path('mahasiswa_edit', {'id': td.id}) }}">{{ td.nama }}</a></td>
						<td>{{ td.angkatan }}</td>
						<td>{{ td.sks }}</td>
						{# <td>{{ td.ipk }}</td> #}
						<td>{{ td.status }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}