{% extends 'base.html.twig' %}

{% block title %} Data Pustaka {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-body">

		<div class="form-inline">
			<label>Klasifikasi</label>
			<select id="klasifikasi" class="form-control" style="margin: 0 .5em">
				<option value="">-- Pilih klasifikasi --</option>
				{% for klsf in dataKlasifikasi %}
					<option value="{{ klsf.id }}" {{ ( app.request.get('klasifikasi') == klsf.id ) ? 'selected' : '' }}>{{ klsf.nama }}</option>
				{% endfor %}
			</select>
			<a href="{{ path('pustaka', {aksi: 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		</div>
		<br>
		{% if app.request.get('klasifikasi') != '' %}
	  	<table id="datatable1" class="table table-hover table-striped table-responsive">
		    <thead>
					<tr>
						<th>&nbsp;</th>
						<th>Kode</th>
						<th>Judul</th>
						<th>Pengarang</th>
						<th>Penerbit</th>
						<th>Terbitan</th>
						<th>Jumlah</th>
						<th>&nbsp;</th>
					</tr>
		    </thead>
		    <tbody>
				{% for td in data %}
					{% if td.klasifikasi is not null and td.klasifikasi.id == app.request.get('klasifikasi') %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20"></td>
						<td>{{ td.kode }}</td>
						<td>{{ td.judul }}</td>
						<td>{{ td.pengarang }}</td>
						<td>{{ td.penerbit }}</td>
						<td>{{ td.tahunTerbit }}</td>
						<td>{{ td.jumlah }}</td>
						<td align="center" width="100">
							<a href="{{ path('pustaka', {aksi: 'edit', 'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
							<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Pustaka"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
		    </tbody>
	  	</table>
	  	{% endif %}
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
  	$("#klasifikasi").on('change', function(){
  		if (this.value !== '') {
  			var url = "{{ path('pustaka') }}"+"?klasifikasi="+this.value;
  			window.location.replace(url);
  		}
  	});
</script>
{% endblock %}