<ul class="nav nav-tabs">
  <li role="presentation" class="{% if app.request.attributes.get('_route') == 'inventaris_index' %}active{% endif %}"><a href="{{ path('inventaris_index') }}">Data Inventaris</a></li>
  <li role="presentation" class="{% if app.request.attributes.get('_route') == 'inventaris_lokasi_index' %}active{% endif %}"><a href="{{ path('inventaris_lokasi_index') }}">Data Lokasi</a></li>
  <li role="presentation" class="{% if app.request.attributes.get('_route') == 'inventaris_edit' %}active{% endif %}"><a href="{{ path('inventaris_edit', {'aksi': 'tambah'}) }}">Tambah Data</a></li>
  <li role="presentation" class="{% if app.request.attributes.get('_route') == 'inventaris_jadwal' %}active{% endif %}"><a href="{{ path('inventaris_jadwal') }}">Jadwal Perawatan</a></li>
</ul>