{% extends 'base.html.twig' %}

{% block title %} Data Dosen {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<a href="{{ path('dosen_new') }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('dosen_cetak') }}')"><i class="fa fa-print"></i> Cetak Data Dosen</a>
		<button type="button" id="export-btn" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Export ke Excel</button>
		<div class="pull-right">
			<div class="form-inline">
				<div class="form-group">
					<label></label>
					<select class="form-control" id="jenis_dosen_select">
						<option value="">-- Status Ikatan Kerja --</option>
						{% for jenis in jenis_dosen %}
							<option value="{{ jenis.kode }}" {{ (app.request.get('jenis') == jenis.kode) ? 'selected' : '' }}>{{ jenis.nama }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
	    	<tr>
				<th>&nbsp;</th>
				<th>NIDN</th>
				<th>Nama</th>
				<th>Telp/HP</th>
				<th>Email</th>
				<th>&nbsp;</th>
	    	</tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.nidn }}</td>
				<td>{{ td.nama }}</td>
				<td>{{ td.telp }} {{ ( td.hp is not empty ) ? '/ '~td.hp : '' }}</td>
				<td>{{ td.email }}</td>
				<td align="center">
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Aksi <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="{{ path('dosen_edit', {'id': td.id_user}) }}"><i class="fa fa-edit"></i> Edit Profil</a></li>
							<li><a href="{{ path('dosen_edit', {'id': td.id_user, target: 'pendidikan'}) }}"><i class="fa fa-building"></i> Pendidikan</a></li>
							<li><a href="{{ path('dosen_edit', {'id': td.id_user, target: 'aktifitas'}) }}"><i class="fa fa-exchange"></i> Aktifitas</a></li>
							<li><a href="{{ path('dosen_edit', {'id': td.id_user, target: 'penelitian'}) }}"><i class="fa fa-edit"></i> Penelitian</a></li>
							<li><a href="{{ path('dosen_edit', {'id': td.id_user, target: 'bimbingan'}) }}"><i class="fa fa-users"></i> Bimbingan</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#"><i class="fa fa-print"></i> Cetak</a></li>
							<li><a href="{{ path('dosen_hapus', {nidn: td.nidn}) }}" onclick="return confirm('Hapus dosen?')"><i class="fa fa-trash"></i> Hapus</a></li>
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$("#jenis_dosen_select").on('change', function(){
		if ( this.value !== '' ) {
			var url = "{{ path('dosen_index') }}?jenis="+this.value;
			window.location.replace(url);
		}
	});
</script>
<script type="text/javascript">
	$("#export-btn").on('click', function(){
		$.LoadingOverlay("show");
		$.ajax({
			type: 'POST',
			url: '{{ path("dosen_export") }}',
			data: {},
			success: function(response) {
				var file_path = response;
				var a = document.createElement('A');
				a.href = file_path;
				a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
				$.LoadingOverlay("hide");
			}
		})
		.fail(function(){
			$.LoadingOverlay("hide");
			$.alert('Terjadi kesalahan...');
		});
	});
</script>
{% endblock %}