{% extends 'base.html.twig' %}

{% block title %} Tambah Dosen {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	  	{{ form_start(form) }}

	  	{{ form_errors(form) }}

	    {% for field in [ 
	    	'aktif',
	        'username',
	        'nip',
	        'nama',
	        'gelarDepan',
	        'gelarBelakang',
	        'tptLahir',
	        'tglLahir',
	        'statusSipil',
	        'jk',
	        'agama',
	        'ktp',
			'telp',
			'hp',
			'email',
			'prodi',
			'submit'
	    ] if (attribute(form, field) is defined) %}
	        {{ form_row(attribute(form, field)) }}
	    {% endfor %}
		
		{{ form_rest(form) }}	

	  	{{ form_end(form) }}

	</div>
</div>
{% endblock %}