{% extends 'base.html.twig' %}

{% block title %} Tambah Mahasiswa {% endblock %}

{% block pageTitle %} Tambah Mahasiswa <small>Civitas</small> {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	  	{{ form_start(form) }}

	  	{{ form_errors(form) }}

	    {% for field in [ 
	          'username',
	    	    'prodi',
	          'ktp',
	          'noKk',
	          'npwp',
	          'dosenPa'
	      ] if (attribute(form, field) is defined) %}
	          {{ form_row(attribute(form, field)) }}
	    {% endfor %}

	  	<hr>

	    {% for field in [ 
	          'nama',
	          'tptLahir',
	          'tglLahir',
	          'jk',
	          'agama',
	          'wargaNegara',
	      ] if (attribute(form, field) is defined) %}
	          {{ form_row(attribute(form, field)) }}
	    {% endfor %}

	    <hr>
	    {{ form_row(form.statusMasuk) }}

        <div id="status_masuk-baru" style="display:none">
          {% for field in [ 
              'kodeSekolah',
              'namaSekolah',
              'nis',
              'nilaiUn'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}
        </div>

        <div id="status_masuk-pindahan" style="display:none">
          {% for field in [ 
              'asalKodePt',
              'asalNamaPt',
              'asalProdi',
              'asalJenjang',
              'asalNim',
              'asalSksDiakui'
          ] if (attribute(form, field) is defined) %}
              {{ form_row(attribute(form, field)) }}
          {% endfor %}
        </div>

        {{ form_rest(form) }}

	  	{{ form_end(form) }}

	</div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function(){
      $("#form_statusMasuk").on('change', function() {
        if(this.value == '1') {
          $("#status_masuk-baru").show();
          $("#status_masuk-pindahan").hide();
        } else if(this.value == '2') {
          $("#status_masuk-baru").hide();
          $("#status_masuk-pindahan").show();
        } else {
          $("#status_masuk-baru").hide();
          $("#status_masuk-pindahan").hide();
        }
      });
    });
</script>
{% endblock %}