{% extends 'base.html.twig' %}

{% block title %} Data Staf/Pegawai {% endblock %}

{% block pageTitle %} 
	Data Staf/Pegawai
	<a href="{{ path('pegawai_edit', {'aksi': 'tambah'}) }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> TAMBAH PEGAWAI</a>
	<a href="{{ path('pegawai_jabatan', {'aksi': 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH JABATAN</a>
	<a href="{{ path('pegawai_bidang', {'aksi': 'tambah'}) }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> TAMBAH BIDANG</a>
{% endblock %}

{% block content %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="{{ (target == 'tab_pegawai') ? 'active' : '' }}"><a href="#tab_pegawai" data-toggle="tab">Data Staf/Pegawai</a></li>
      <li class="{{ (target == 'tab_jabatan') ? 'active' : '' }}"><a href="#tab_jabatan" data-toggle="tab">Data Jabatan</a></li>
      <li class="{{ (target == 'tab_bidang') ? 'active' : '' }}"><a href="#tab_bidang" data-toggle="tab">Data Bidang</a></li>
    </ul>
    <div class="tab-content">
      
      	<div class="{{ (target == 'tab_pegawai') ? 'active' : '' }} tab-pane" id="tab_pegawai">
			<table id="datatable1" class="table table-hover table-striped table-responsive">
			    <thead>
			    <tr>
					<th class="text-center">No</th>
					<th>Nama</th>
					<th>Bidang</th>
					<th>Umur</th>
					<th>Mulai bekerja</th>
					<th>Lama bekerja</th>
					<th>&nbsp;</th>
			    </tr>
			    </thead>
			    <tbody>
					{% for td in data.result %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20"></td>
						<td>{{ td.nama }}</td>
						<td>{{ td.bidang }}</td>
						<td>{{ ( td.umur > 17 ) ? td.umur : '' }}</td>
						<td>{{ td.tgl_masuk|tanggal }}</td>
						<td>{# {{ "now"|date('Y')-td.dataPegawai.mulaiBekerja|date('Y') }} Tahun #}</td>
						<td align="center">
							<a href="{{ path('pegawai_edit', {'id': td.id_user}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
							<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Pegawai"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
					{% endfor %}
			    </tbody>
			</table>
      	</div>
      	<div class="{{ (target == 'tab_jabatan') ? 'active' : '' }} tab-pane" id="tab_jabatan">
			<table class="table table-bordered table-responsive">
			    <thead>
				    <tr>
						<th class="text-center"></th>
						{# <th>Kode</th> #}
						<th>Nama Jabatan</th>
						<th>&nbsp;</th>
				    </tr>
			    </thead>
			    <tbody>
					{% for td in dataBidang %}
						<tr class="info">
							<td colspan="3">{{ td.nama|upper }}</td>
						</tr>
						{% if td.children is not null %}
							{% for jabatan in td.children %}
							{% if jabatan.status != 'trash' %}
							<tr id="data-{{ jabatan.id }}">
								<td align="center" width="20"></td>
								{# <td>{{ jabatan.kode }}</td> #}
								<td>{{ jabatan.nama }}</td>
								<td align="center">
									<a href="{{ path('pegawai_jabatan', {'id': jabatan.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
									<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ jabatan.id }}" data-entity="Master"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
			    </tbody>
			</table>
      	</div>
      	<div class="{{ (target == 'tab_bidang') ? 'active' : '' }} tab-pane" id="tab_bidang">
			<table class="table table-hover table-striped table-responsive">
			    <thead>
				    <tr>
						<th class="text-center">No</th>
						<th>Kode</th>
						<th>Nama Bidang</th>
						<th>Keterangan</th>
						<th>&nbsp;</th>
				    </tr>
			    </thead>
			    <tbody>
			    	{% set no = 1 %}
					{% for td in dataBidang %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20">{{ no }}</td>
						<td>{{ td.kode }}</td>
						<td>{{ td.nama }}</td>
						<td>{{ td.ket }}</td>
						<td align="center" width="100">
							<a href="{{ path('pegawai_bidang', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
							<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Master"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
					{% set no = no+1 %}
					{% endfor %}
			    </tbody>
			</table>
      	</div>
    </div>
    <!-- /.tab-content -->
</div>
{% endblock %}
