{% extends 'base.html.twig' %}

{% block title %} Sirkulasi Kunjungan {{ "now"|tanggal }} {% endblock %}

{% block pageTitle %} Sirkulasi Kunjungan <small>{{ "now"|tanggal }}</small> {% endblock %}

{% block breadcrumbs %}
<li class="active"> Sirkulasi Kunjungan </li>
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<a href="{{ path('sirkulasi_kunjungan', {aksi: 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="pull-right">
			<div class="input-group">
			  <span class="input-group-addon" id="tanggal-addon"><i class="fa fa-calendar"></i></span>
			  <input type="text" id="tanggal-filter" class="form-control js-datepicker" placeholder="Tanggal" name="tanggal" aria-describedby="tanggal-addon" value="{{ "now"|date('d-m-Y') }}">
			</div>
		</div>
	</div>
	<div class="box-body">
	  <table id="datatable2" data-searching="false" data-paging="false" data-info="false" data-ordering="false" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tanggal</th>
					<th>Jam</th>
					<th>ID Anggota</th>
					<th>Nama</th>
					<th>Tujuan</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#datatable2').DataTable( {
    	"serverSide": true,
		"ajax": {
		    "url": "/perpustakaan/sirkulasi/kunjungan?json=true&dt=true",
		    "data": function ( d ) {
		        d.tanggal = $('#tanggal-filter').val();
		        // d.length = 10;
		    }
		}
	    // "columnDefs": [ {
	    //     "searchable": false,
	    //     "orderable": false,
	    //     "targets": [0, -1]
	    // }],
	    // "order": [[ 1, 'asc' ]],
    } );
    $('#tanggal-filter').on('change', function(){
    	table.ajax.reload();
    });
} );
</script>
{% endblock %}