{% extends 'base.html.twig' %}

{% block title %} Form Peminjaman {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">

		<form id="formPeminjaman" method="post" action="">

			<div class="row">

				<div class="col-sm-5">
					<div class="form-group">
						<label for="barcode_anggota">ID Barcode Anggota</label>
						<input name="barcode_anggota" id="barcode_anggota" required="required" class="form-control" type="text">
					</div>
					<br>


				</div>

				<div class="col-sm-offset-1 col-sm-6">
					<div class="form-group">
						<label for="barcode_pustaka">ID Barcode Pustaka</label>
						<input name="barcode_pustaka" id="barcode_pustaka" class="form-control" type="text">
					</div>
					<br>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<div id="formPeminjamanMsg" style="display:none">
						<table class="table">
							<tr>
								<td>No. Identitas</td>
								<td id="td-username"></td>
							</tr>
							<tr>
								<td>Nama</td>
								<td id="td-nama"></td>
							</tr>
							<tr>
								<td>Jenis Kelamin</td>
								<td id="td-jk"></td>
							</tr>
							<tr>
								<td>Jenis Peminjam</td>
								<td id="td-jenis">Umum</td>
							</tr>
							<tr>
								<td>Alamat</td>
								<td id="td-alamat"></td>
							</tr>
							<tr>
								<td>No. Telp</td>
								<td id="td-telp"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-8">
					<table id="peminjamanTbl" class="table">
						<thead>
							<tr>
								<th>No</th>
								<th>Kode Pustaka</th>
								<th>Judul</th>
								<th>Klasifikasi</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</form>

	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$("#barcode_anggota").val('{{ data.anggota.username }}').prop('readonly', true);
		setTimeout(function(){
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('ambil_data_user') }}",
	          data: {id: '{{ data.anggota.username }}'},
	          success: function(response) {
	          	// console.log
	          	$("#td-username").text(response.username)
	          	$("#td-nama").text(response.nama)
	          	$("#td-jk").text(response.jk)
	          	$("#td-alamat").text(response.alamat)
	          	$("#td-telp").text(response.telp)
	          	$("#formPeminjamanMsg").show()
	          }
	        });
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('_data_peminjaman_anggota') }}",
	          data: {id: this.value, aksi: 'get'}
	        })
	        .done(function(response) {
	          $("#peminjamanTbl tbody").html(response);
	        });
		}, 3000);
	});

	$(function(){
	  	$("#barcode_pustaka").on('keyup change', function(){
	  		var id_anggota = $("#barcode_anggota").val();
	        $.ajax({
	          type: 'POST',
	          url: "{{ path('_data_peminjaman_anggota') }}",
	          data: {id: id_anggota, id_pustaka: this.value, aksi: 'insert'}
	        })
	        .done(function(response) {
	          $("#peminjamanTbl tbody").html(response);
	        });
	  	});	
	});
</script>

{% endblock %}