{% extends 'base.html.twig' %}

{% block title %} Sirkulasi Pengembalian {{ "now"|date('d F Y') }} {% endblock %}

{% block breadcrumbs %}
<li class="active"> Sirkulasi Pengembalian </li>
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<a href="{{ path('sirkulasi_peminjaman', {aksi: 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Tanggal</th>
					<th>Jam</th>
					<th>ID Anggota</th>
					<th>Nama</th>
					<th>Tgl Kembali</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data %}
				{% if "now"|date("Y-m-d") == td.tanggalKembali|date("Y-m-d") %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.tanggal|date('d-m-Y') }}</td>
					<td>{{ td.tanggal|date('H:i') }}</td>
					<td>{{ td.anggota.username }}</td>
					<td>{{ td.anggota.nama }}</td>
					<td>{{ td.tanggalKembali|date("Y-m-d") }}</td>
					<td></td>
				</tr>
				{% endif %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}