{% extends 'base.html.twig' %}

{% block title %} Feeder ke SIAKAD {% endblock %}

{% block content %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#utama" data-toggle="tab">Data Utama</a></li>
      <li><a href="#referensi" data-toggle="tab">Referensi</a></li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="utama">

        {% include "FeederBundle:Default:partials/siakad_utama_content.html.twig" %}

      </div>
      <div class="tab-pane" id="referensi">

        {% include "FeederBundle:Default:partials/siakad_ref_content.html.twig" %}

      </div>
    </div>
</div>

<input type="hidden" id="is_error" value="no">

{% endblock %}

{% block js %}

{% include "FeederBundle:Default:partials/siakad_utama_scripts.html.twig" %}

{% include "FeederBundle:Default:partials/siakad_ref_scripts.html.twig" %}

{% endblock %}