{% extends 'base.html.twig' %}

{% block title %} Feeder PD-DIKTI {% endblock %}

{% block content %}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#server" data-toggle="tab">Setting Server</a></li>
      <li><a href="#utama" data-toggle="tab">Data Utama</a></li>
      <li><a href="#perkuliahan" data-toggle="tab">Perkuliahan</a></li>
      <li class="hide"><a href="#pelengkap" data-toggle="tab">Pelengkap</a></li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="server">

          {% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
        
          {{ form_start(form) }}

          {{ form_errors(form) }}

          {{ form_widget(form.value) }}

          {{ form_end(form) }}

      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="utama">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Jenis Data</th>
            <th>Prodi</th>
            <th>Tahun</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr id="utama-mahasiswa">
              <td>Data Mahasiswa Baru</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select class="tahun form-control">
                  <option value="">-- PILIH --</option>
                    {% for i in "now"|date("Y")..1980 %}
                      <option value="{{ i }}" {{ ( app.request.get('angkatan') == i ) ? 'selected' : '' }}>{{ i }}</option>
                    {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="utama" data-table="mahasiswa">PROSES</button></td>
            </tr>
            <tr id="utama-dosen">
              <td>Data Dosen</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="utama" data-table="dosen">PROSES</button></td>
            </tr>
            {#  
            <tr>
              <td>Penugasan Dosen</td>
              <td>
                <select id="makul_prodi" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="kurikulum">PROSES</button></td>
            </tr>
            #}
          </tbody>
        </table>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="perkuliahan">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Jenis Data</th>
            <th>Prodi</th>
            <th>Tahun</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr id="perkuliahan-kurikulum">
              <td>Data Kurikulum</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="kurikulum">PROSES</button></td>
            </tr>
            <tr id="perkuliahan-mata_kuliah">
              <td>Data Mata Kuliah</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="mata_kuliah">PROSES</button></td>
            </tr>
            {#  
            <tr id="perkuliahan-kelas">
              <td>Kelas Perkuliahan</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="kelas">PROSES</button></td>
            </tr>
            #}
            <tr id="perkuliahan-nilai">
              <td>Nilai Perkuliahan</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="nilai">PROSES</button></td>
            </tr>
            {#  
            <tr id="perkuliahan-aktifitas">
              <td>Aktivitas Kuliah Mahasiswa  </td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="aktifitas">PROSES</button></td>
            </tr>
            <tr id="perkuliahan-alumni">
              <td>Mahasiswa Lulus/DO</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="perkuliahan" data-table="alumni">PROSES</button></td>
            </tr>
            #}
          </tbody>
        </table>
      </div>

      <div class="tab-pane" id="pelengkap">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Jenis Data</th>
            <th>Prodi</th>
            <th>Tahun</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr id="pelengkap-skala_nilai">
              <td>Skala Nilai</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="pelengkap" data-jenis="skala_nilai">PROSES</button></td>
            </tr>
            <tr id="pelengkap-kapasitas_mahasiswa">
              <td>Kapasitas Mahasiswa Baru</td>
              <td>
                <select class="prodi form-control">
                  <option value="">-- PILIH --</option>
                  {% for prodi in prodiList %}
                    <option value="{{ prodi.kodeProdi }}">{{ prodi.namaProdi }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="mahasiswa_tahun" class="form-control">
                  <option value="">-- PILIH --</option>
                  {% for ta in taList %}
                    <option value="{{ ta.id }}">{{ ta.tahun }}</option>
                  {% endfor %}
                </select>
              </td>
              <td align="center"><button type="button" class="proses-btn btn btn-primary btn-sm" data-jenis="pelengkap" data-jenis="kapasitas-mahasiswa">PROSES</button></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <!-- /.tab-content -->
</div>

<input type="hidden" id="is_error" value="no">

{% endblock %}

{% block js %}
<script>
  $(".proses-btn").on('click', function(){
    var btn = $(this);
    var jenis = btn.data('jenis');
    var table = btn.data('table');
    var kode_prodi = $("#"+jenis+"-"+table+" .prodi").val();
    var cari_tahun = $("#"+jenis+"-"+table).find(".tahun").val();
    var tahun = ( cari_tahun !== undefined ) ? cari_tahun : 0;

    if ( kode_prodi === '' || tahun === '' ) {
      $.alert('Harap pilih program studi/tahun...');
      return false;
    }

    $.confirm({
        title: '',
        content: 'Proses export data '+table+' ke Feeder PDDIKTI?',
        buttons: {
            ya: function () {
                $("#is_error").val("no");
                $('table').find(".data-progress-bar").remove();
                html = '';
                html += '<tr class="data-progress-bar"><td colspan="4">';
                html += '<div class="progress-group">';
                html += '<span class="progress-text"><span class="text-green"><span class="progress-percent">0</span>%</span> <em> - <span class="progress-message text-red" style="font-weight:normal;font-size:12px;">Sedang mengambil data...</span></em></span>';
                html += '<span class="progress-number"><b>0</b>/<span class="total-data">-</span></span>';
                html += '<div class="progress sm"><div class="progress-bar progress-bar-gray" style="width: 0"></div></div>';
                html += '</div></td></tr>';

                $("#"+jenis+"-"+table).after(html);

                btn.html('<img src="{{ asset("uploads/loader2.gif") }}">');
                btn.prop('disabled', true).addClass('disabled');

                $.ajax({
                  type: "POST",
                  url: "/feeder/export/"+jenis+"/get_data",
                  data: {table: table, kode_prodi: kode_prodi, tahun: tahun},
                  success: function(data) {
                    

                    // console.log(data);
                    var limit = parseInt(data.length);

                    if ( limit > 0 ) {

                      var progress_step = Math.round(100/limit);
                      $(".data-progress-bar .progress-number .total-data").text(limit);
                      $(".data-progress-bar .progress-bar").css({"width": "0%"});
                      $(".data-progress-bar .progress-text .progress-percent").text("0");

                      for( var i = 0; i < limit; i++ ) {
                          
                          var error = $("#is_error").val();
                          
                          if ( error === "yes" ) { 

                            $(".data-progress-bar td").html('<p class="text-red text-center">Terjadi kesalahan saat mengambil data...</span>');
                            $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
                            // $.alert('Terjadi kesalahan!');
                            break; 

                          } else {

                            do_export(jenis, table, tahun, data[i], kode_prodi, limit, i);
                            // console.log(data[i])

                          }


                      }

                    } else {

                      $(".data-progress-bar td").html('<p class="text-red text-center">Tidak ada data '+jenis.replace('_', ' ')+' yang ditemukan...</span>');
                      $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
                      
                    }

                  }
                })
                .fail(function(data) {
                  $.alert('Terjadi kesalahan...');
                });

            },
            batal: function () {
              return;   
            }
        }
    });

  });
</script>
<script>
function do_export(jenis, table, tahun, data, kode_prodi, limit, count) {

    // setTimeout(function(){

        $.ajax({
          type: "POST",
          url: "/feeder/export/"+jenis+"/"+table,
          data: {data:data, kode_prodi: kode_prodi, tahun: tahun}
        })
        .done(function(result) {

            var current_progress = Math.ceil( (100/parseInt(limit))*parseInt(count+1) );
            current_progress = ( current_progress >= 100 ) ? 100 : current_progress;
            if (current_progress >= 100) {
              $(".data-progress-bar .progress-bar-gray").addClass('progress-bar-green').removeClass('progress-bar-gray');
              $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
            }
            $(".data-progress-bar .progress-text .progress-message").text(result.message);
            if (current_progress > 0) {
            $(".data-progress-bar .progress-text .progress-percent").text(current_progress);
            $(".data-progress-bar .progress-bar").css({"width": current_progress+"%"});
            }
            $(".data-progress-bar .progress-number b").text(count+1);
            console.log(result);
            // count++;
            

        })
        .fail(function(data) {
          $("#is_error").val("yes");
        });

    // }, 3000);

}
</script>
{% endblock %}