{% set option = app_service.getGlobalOption() %}
{% spaceless %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %} Dashboard {% endblock %} | Sistem Informasi Akademik | {{ option.pt.nama }}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{{ asset('dist/css/font-awesome.min.css') }}">
		<!-- Ionicons -->
		<link rel="stylesheet" href="{{ asset('dist/css/ionicons.min.css') }}">
		<!-- Plugins -->
		<link rel="stylesheet" href="{{ asset('plugins/pace/pace.min.css') }}">
		<link rel="stylesheet" href="{{ asset('plugins/select2/select2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('plugins/jquery-confirm/jquery-confirm.min.css') }}">
		<link rel="stylesheet" href="{{ asset('plugins/datepicker/datepicker3.css') }}">
		<!-- DataTables -->
		<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">

		<!-- Theme style -->
		<link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
		<link rel="stylesheet" href="{{ asset('dist/css/skins/skin-'~option.theme_skin.kode~'.min.css') }}">
		<style type="text/css">
			.table th, .table td {
			     vertical-align: middle !important;
			}
		</style>
		{% block css %}{% endblock %}

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
<body class="hold-transition skin-{{ option.theme_skin.kode }} sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		{% include "partial_header.html.twig" %}
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				{# {% include "partial_sidebar_before.html.twig" %} #}
				<div style="padding: 20px 10px;">
					<img src="{{ option.logo }}" class="img-responsive" width="120" style="margin: 0 auto">
				</div>
				<!-- Sidebar Menu -->
				{% include "partial_menus.html.twig" %}
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			{% if app.request.attributes.get('_route') != 'dashboard' %}
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>{% block pageTitle %} {{ block('title') }} {% endblock %}</h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
					{% block breadcrumbs %}<li class="active">{{ block('title') }}</li>{% endblock %}
				</ol>
			</section>
			{% endif %}
			<!-- Main content -->
			<section id="content" class="content">
				
				<div id="pesan-notifikasi">
				{% for type, flash_messages in app.session.flashBag.all %}
						{% for flash_message in flash_messages %}
								<div class="alert alert-{{ type }}">
										{{ flash_message }}
								</div>
						{% endfor %}
				{% endfor %}
				</div>

				{% block content %}{% endblock %}

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs">
				Sistem Informasi Akademik (SIAKAD)
			</div>
			<!-- Default to the left -->
			<strong>{{ option.pt.nama }}</strong>
		</footer>
	  <!-- Control Sidebar -->
	  <aside class="control-sidebar control-sidebar-dark">
	    <!-- Create the tabs -->
	    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
	      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
	      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
	    </ul>
	    <!-- Tab panes -->
	    <div class="tab-content">
	      <!-- Home tab content -->
	      <div class="tab-pane active" id="control-sidebar-home-tab">
	        <h3 class="control-sidebar-heading">Recent Activity</h3>
	        <ul class="control-sidebar-menu">
	          <li>
	            <a href="javascript:;">
	              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

	              <div class="menu-info">
	                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

	                <p>Will be 23 on April 24th</p>
	              </div>
	            </a>
	          </li>
	        </ul>
	        <!-- /.control-sidebar-menu -->

	        <h3 class="control-sidebar-heading">Tasks Progress</h3>
	        <ul class="control-sidebar-menu">
	          <li>
	            <a href="javascript:;">
	              <h4 class="control-sidebar-subheading">
	                Custom Template Design
	                <span class="pull-right-container">
	                    <span class="label label-danger pull-right">70%</span>
	                  </span>
	              </h4>

	              <div class="progress progress-xxs">
	                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
	              </div>
	            </a>
	          </li>
	        </ul>
	        <!-- /.control-sidebar-menu -->

	      </div>
	      <!-- /.tab-pane -->
	      <!-- Stats tab content -->
	      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
	      <!-- /.tab-pane -->
	      <!-- Settings tab content -->
	      <div class="tab-pane" id="control-sidebar-settings-tab">
	        <form method="post">
	          <h3 class="control-sidebar-heading">General Settings</h3>

	          <div class="form-group">
	            <label class="control-sidebar-subheading">
	              Report panel usage
	              <input type="checkbox" class="pull-right" checked>
	            </label>

	            <p>
	              Some information about this general settings option
	            </p>
	          </div>
	          <!-- /.form-group -->
	        </form>
	      </div>
	      <!-- /.tab-pane -->
	    </div>
	  </aside>
	  <!-- /.control-sidebar -->
	  <!-- Add the sidebar's background. This div must be placed
	  immediately after the control sidebar -->
	  <div class="control-sidebar-bg"></div>
	</div>
	<!-- jQuery 2.2.3 -->
	<script src="{{ asset('plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- Slimscroll -->
	<script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
	<!-- FastClick -->
	<script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
	<!-- DataTables -->

	<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
	<!-- Plugins -->
	<script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
	<script src="{{ asset('plugins/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
	<script src="{{ asset('plugins/pace/pace.min.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-validator/validator.min.js') }}"></script>
	<script src="{{ asset('plugins/jquery-confirm/jquery-confirm.min.js') }}"></script>
	<script src="{{ asset('plugins/select2/select2.min.js') }}"></script>
	<script src="//cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
	<!-- AdminLTE App -->
	<script src="{{ asset('dist/js/app.min.js') }}"></script>	
	<script>
		$(document).ready(function () {
			var url = window.location;
			var element = $('ul.sidebar-menu a').filter(function () {
					return this.href == url || url.href.indexOf(this.href) == 0;
			});
			$(element).parentsUntil('ul.sidebar-menu', 'li').addClass('active');
	});
	</script>
	<script>
	$(".hapus-btn").click(function(e){
		var btn = $(this);
		$.confirm({
				title: '',
				content: 'Hapus data?',
				buttons: {
						ya: function () {
								btn.html('<img src="{{ asset("uploads/loader2.gif") }}">');
								$.ajax({
									type: 'POST',
									url: '{{ path("hapus_data_entity") }}',
									data: {entity:btn.data('entity'),id:btn.data('id')},
									success: function(response) {
										btn.html('<i class="fa fa-trash"></i>');
										var pesan = 'Data berhasil dihapus';
										var html = '<div class="alert alert-success"><p>'+pesan+'</p>'+'</div>';
										var container = $("#pesan-notifikasi");
										container.html(html);
										$("tr#data-"+btn.data('id')).remove();
										$("html, body").animate({
												scrollTop: ($('#pesan-notifikasi').offset().top)
										}, 1000);
									}
								});
						},
						batal: function () {
								
						}
				}
		});
	});
	</script>
	<script>
		$(document).ready(function() {
		    var t = $("body").find('#datatable1').DataTable( {
		        "columnDefs": [ {
		            "searchable": false,
		            "orderable": false,
		            "targets": [0, -1]
		        }],
		        "order": [[ 1, 'asc' ]],
		        "pageLength": 50
		    } );
		 
		    t.on( 'order.dt search.dt', function () {
		        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
		            cell.innerHTML = i+1;
		        } );
		    } ).draw();
		} );
	</script>
	<script src="{{ asset('dist/js/scripts.js') }}"></script>	
	{% block js %}{% endblock %}
	<script>
		// var formgroup = $("body").find('form .form-group');
		// for( var i = 0; i < formgroup.length; i++ ) {
		// 	var test = $(formgroup[i]).find("label.required");
		// 	console.log(test);
		// }
	</script>
</body></html>{% endspaceless %}