<ul class="sidebar-menu">
	<li><a href="{{ path('dashboard') }}">
		<i class="fa fa-dashboard"></i><span>Dashboard</span></a>
	</li>
    {% for group in modules if app.user.roles[0] in group.roles %}
    	{% if group.parent is null and group.active %}
        	{{ _self.display_tree(group) }}
        {% endif %}
    {% endfor %}
	<li>
		<a href="#"><i class="fa fa-user"></i> <span>Akun Saya</span>
		<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		<ul class="treeview-menu">
			<li><a href="{{ path('profil_index') }}"><i class="fa fa-circle-o"></i> Profil</a></li>
			<li><a href="{{ path('profil_index', {target: 'avatar'}) }}"><i class="fa fa-circle-o"></i> Ganti Avatar</a></li>
			<li><a href="{{ path('password_index') }}"><i class="fa fa-circle-o"></i> Ganti Password</a></li>
			<li><a href="{{ path('logout') }}" onclick="return confirm('Anda yakin ingin logout?')"><i class="fa fa-circle-o"></i> Logout</a></li>
		</ul>
	</li>
</ul>

{% macro display_tree(level) %}
	<li>
		<a href="#"><i class="fa fa-{{ level.icon }}"></i><span>{{ level.nama }}</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
		  {% if level.children|default() %}
		  	<ul class="treeview-menu">
		      {% for child in level.children if app.user.roles[0] in child.roles %}
		      	<li>
		      		{% if child.children|default() %}
		      			<a href="#"><i class="fa fa-circle-o"></i> {{ child.nama }}
		      			<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
		      			</a>
		      		{% else %}
		      			<a href="{{ ( child.slug != '#' ) ? path(child.slug) : '#' }}"><i class="fa fa-circle-o"></i> {{ child.nama }}
		      			</a>
		      		{% endif %}
		            {% if child.children|default() %}
						<ul class="treeview-menu">
			                {% for subchild in child.children if app.user.roles[0] in subchild.roles %}
			                	{% set args = [] %}
			                	{% if subchild.queryArgs is not null %}
			                		{% set args = subchild.queryArgs %}
			                	{% endif %}
			                    <li><a href="{{ path(subchild.slug, args) }}">{{ subchild.nama }}</a></li>
			                {% endfor %}
						</ul>
		            {% endif %}
		      	</li>
		      {% endfor %}
		  	</ul>	
		  {% endif %}
	</li>
{% endmacro %} 