<header class="main-header">

  <!-- Logo -->
  <a href="{{ path('dashboard') }}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>SI</b>A</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>SIA</b>KAD</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <p class="navbar-text visible-md visible-lg" style="color:{{ (option.theme_skin.kode == 'black' or option.theme_skin.kode == 'black-light') ? 'black' : 'white' }}">
        {% if app.user.prodi is not null %}
          Semester {{ (option.ta.kodeSemester == 1) ? 'Ganjil' : 'Genap' }} {{ option.ta.nama }} -
        {% endif %}
        {% if app.user.prodi is not null %}
            Program Studi {{ app.user.prodi.jenjang }} {{ app.user.prodi.namaProdi }}
        {% else %}
          Anda belum memilih program studi.
        {% endif %}
      </p>
      <ul class="nav navbar-nav">
        {% if not is_granted('ROLE_MAHASISWA') %}
        {# {% if app.user.hakAkses.nama in ['SUPER_ADMIN', 'DOSEN'] %} #}
        <li class="dropdown user user-menu visible-md visible-lg">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            PROGRAM STUDI
          </a>
          <ul class="dropdown-menu">
            <li  class="user-body">
              <form method="post" action="{{ path('pengaturan_prodi') }}">
                  <div class="form-group">
                    <select name="kode" class="form-control">
                      <option value="">-- PILIH --</option>
                      {% for prodi in prodiList %}
                      <option value="{{ prodi.kodeProdi }}" {{ (app.user.prodi is not null and app.user.prodi.kodeProdi == prodi.kodeProdi) ? 'selected' : ''  }}>{{ prodi.namaProdi }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input type="hidden" name="_ret" value="{{ app.request.attributes.get('_route') }}">
                  <button class="btn btn-success" type="submit">Simpan</button>
              </form>
            </li>
          </ul>
        </li>
        {% endif %}
        {# {% endif %} #}
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            {{ avatar(app.user, {"class":"user-image"}, true, 160)|raw }}
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">{{ (app.user.nama is not empty) ? app.user.nama : app.user.username }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              {{ avatar(app.user, {"class":"img-circle"}, true, 160)|raw }}
              <p>
                {{ (app.user.nama is not empty) ? app.user.nama : app.user.username }}
                <small>{{ app.user.username }}</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="{{ path('profil_index') }}" class="btn btn-default btn-flat">Profil</a>
              </div>
              <div class="pull-right">
                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Keluar</a>
              </div>
            </li>
          </ul>
        </li>
        {# <li><a href="{{ path('logout') }}" title="Logout"><i class="fa fa-sign-out"></i></a></li> #}
        {# <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li> #}
      </ul>
    </div>
  </nav>
</header>