{% extends 'base.html.twig' %}

{% block title %} Edit User/Admin {% endblock %}

{% block content %}

<div class="row">
<div class="col-md-3">

  <!-- Profile Image -->
  <div class="box box-primary">
    <div class="box-body box-profile">
      {{ gravatar(data.email, {"class":"profile-user-img img-responsive img-circle"}, true, 160)|raw }}

      <h3 class="profile-username text-center">{{ data.nama }}</h3>

      <p class="text-muted text-center">{{ ( data.hakAkses is not null ) ? data.hakAkses.nama : '' }}</p>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div>
<!-- /.col -->
<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#profil" data-toggle="tab">Profil</a></li>
    </ul>
    <div class="tab-content">
      <div class="active tab-pane" id="profil">

        {% form_theme form "form/bootstrap_3_horizontal_layout.html.twig" %}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}

      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}