{% extends 'base.html.twig' %}

{% block title %} Data Admin/User {% endblock %}

{% block content %}
<div class="box">
  <div class="box-header">
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> TAMBAH</button>
  </div>
  <div class="box-body">
      <table id="datatable1" class="table table-hover table-striped table-responsive">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Username</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Hak Akses</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for td in data.result %}
              <tr id="data-{{ td.id }}">
                <td align="center" width="20"></td>
                <td>{{ td.username }}</td>
                <td>{{ td.nama }}</td>
                <td>{{ td.email }}</td>
                <td>{{ td.hak_akses|title }}</td>
                <td>
                  <a href="{{ path('admin_user', {aksi:'edit', 'id': td.id}) }}">Edit</a>
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                  <a href="{{ path('admin_user_hapus', {'id': td.id}) }}" class="text-red" onclick="return confirm('Hapus user?')" style="margin-left:.5em">Hapus</a>
                  {% endif %}
                </td>
              </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
  <div class="box-footer"></div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    
    {% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

    {{ form_start(form, {attr: {class:'modal-content'}}) }}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah User</h4>
      </div>
      <div class="modal-body">          

          {{ form_errors(form) }}

          {{ form_row(form.username) }}

          {{ form_row(form.password) }}

          {{ form_row(form.hakAkses) }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        {{ form_widget(form.submit) }}
      </div>
    
    {{ form_end(form) }}

  </div>
</div>
{% endblock %}
