{% extends 'base.html.twig' %}

{% block title %} Backup / Restore Database {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header">
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<p>
			<a href="{{ asset(filePath) }}" download="" class="btn btn-primary">Backup SQL</a>
		</p>
	</div>
</div>
{% endblock %}