{% extends 'base.html.twig' %}

{% block title %} Pengaturan Modul {% endblock %}

{% block content %}

<form method="post" action="{{ path('modul_submit') }}">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      {% set key = 0 %}
      {% for group in modules %}
        {% set first = (loop.first) ? 1 : 0 %}
        {% if group.parent is null and group.active %}
            {{ _self.display_tree(group, first, roles, key) }}
          {% endif %}
      {% set key = key+1 %}
      {% endfor %}

  </div>

  <button type="submit" class="btn btn-primary">Simpan</button>
</form>

{% macro hak_akses(role, modul)  %}

      {% if role.nama == 'SUPER ADMIN' or role.nama == 'ADMIN' %}
      <input type="hidden" name="modul[{{ modul.slug }}][roles][]" value="ROLE_{{ role.nama|replace({' ': '_'})|upper }}">
      {% elseif role.nama == 'USER' %}
      {% else %}
      {% set checked = ( 'ROLE_'~role.nama|replace({' ': '_'})|upper in modul.roles ) ? 'checked' : '' %}
      <label style="margin-right: 1em">
        <input type="checkbox" name="modul[{{ modul.slug }}][roles][]" value="ROLE_{{ role.nama|replace({' ': '_'})|upper }}" {{ checked }}>
        <strong>{{ (role.parent is not null) ? role.parent.nama|upper~' - ' : '' }}</strong> {{ role.nama|upper }}
      </label>
      {% endif %}
{% endmacro %}


{% macro display_tree(level, first, roles, key)  %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{ level.id }}">
      <h4 class="pull-left">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#modul-{{ level.id }}" aria-expanded="{{ (first == 1) ? "true" : "false" }}" aria-controls="modul-{{ level.id }}">
          {{ level.nama }}
          <input type="hidden" name="modul[{{ level.slug }}][nama]" value="{{ level.slug }}">
        </a>
      </h4>
      <div class="pull-right">
        <div class="checkbox">
            {% for role in roles %}
                {{ _self.hak_akses(role, level) }}
            {% endfor %}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="modul-{{ level.id }}" class="panel-collapse collapse {{ (first == 1) ? "in" : "" }}" role="tabpanel" aria-labelledby="heading-{{ level.id }}">
      <div class="panel-body">

        {% if level.children|default() %}
          <table class="table">
            <thead>
              <tr>
                <th width="20" class="text-center">ID</th>
                <th width="150">Nama Modul</th>
                <th>Hak Akses</th>
                {# <th>Aktif</th> #}
              </tr>
            </thead>
            <tbody>
            {% for child in level.children %}
                <tr>
                  <td align="center">{{ child.id }}</td>
                  <td>{{ child.nama }}
                    <input type="hidden" name="modul[{{ child.slug }}][nama]" value="{{ child.slug }}">
                  </td>
                  <td>
                    <div class="checkbox">
                        {% for role in roles %}
                            {{ _self.hak_akses(role, child) }}
                        {% endfor %}
                    </div>
                  </td>
{#                   <td width="100">
                    <select name="modul[{{ child.slug }}][aktif]" class="form-control">
                      <option value="0">Tidak</option>
                      <option value="1" {{ (child.active) ? 'selected' : '' }}>Ya</option>
                    </select>
                  </td> #}
                </tr>
                {% if child.children|default() %}
                    {% for subchild in child.children %}
                       <tr>
                        <td align="center"></td>
                        <td>{{ subchild.nama }}
                          <input type="hidden" name="modul[{{ subchild.slug }}][nama]" value="{{ subchild.slug }}">
                        </td>
                        <td>
                           <div class="checkbox">
                              {% for role in roles %}
                                  {{ _self.hak_akses(role, subchild) }}
                              {% endfor %}
                          </div>
                        </td>
{#                         <td width="100">
                          <select name="modul[{{ subchild.slug }}][aktif]" class="form-control">
                            <option value="0">Tidak</option>
                            <option value="1" {{ (subchild.active) ? 'selected' : '' }}>Ya</option>
                          </select>
                        </td> #}
                      </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
    </div>
  </div>
{% endmacro %}

{% endblock %}
