{% extends 'base.html.twig' %}

{% block title %} Manage Modules {% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				{% form_theme form "form/bootstrap_3_layout.html.twig" %}

				{{ form_start(form) }}

				{{ form_errors(form) }}

				{{ form_widget(form) }}

				{{ form_end(form) }}
			</div>
			<div class="col-sm-12 col-md-7">
			  	<table id="datatable1" class="table table-bordered table-striped">
					<thead>
					    <tr>
							<th>Kode</th>
							<th>Nama Modul</th>
							<th>&nbsp;</th>
					    </tr>
					</thead>
					<tbody>
						{% for td in masterList %}
						<tr id="data-{{ td.id }}">
							<td><a href="#" class="term-kode" data-type="text" data-pk="{{ td.id }}">{{ td.slug }}</a></td>
							<td><a href="#" class="term-nama" data-type="text" data-pk="{{ td.id }}">{{ td.nama }}</a></td>
							<td align="center">
								<form method="post" action="#">
									<input type="hidden" name="id" value="{{ td.id }}">
									<button type="submit" class="btn btn-xs btn-danger" onclick="return confirm('Hapus data?')">Hapus</button>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
			  	</table>
			</div>
		</div>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
  	$(function () {
    	$("#datatable1").DataTable({
    		"ordering": false
    	});
  	});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.term-kode').editable({
        url: '{{ path("modul_update", {field: "slug"}) }}', 
        title: 'Input kode',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},           
       	success: function(data, config) {
           // if(data && data.id) {
           //     $("tr#data-"+data.id+" .lulus").html('Y');                
           // }
       	}
    });
    $('.term-nama').editable({
        url: '{{ path("modul_update", {field: "nama"}) }}',
        title: 'Input nama',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},           
       	success: function(data, config) {
           // if(data && data.id) {
           //     $("tr#data-"+data.id+" .lulus").html('Y');                
           // }
       	}
    });
});
</script>
{% endblock %}