{% extends 'base.html.twig' %}

{% block title %} Akun Saya {% endblock %}

{% block content %}

<div class="row">
<div class="col-md-3">

  <!-- Profile Image -->
  <div class="box box-primary">
    <div class="box-body box-profile">
      {{ gravatar(app.user.email, {"class":"profile-user-img img-responsive img-circle"}, true, 160)|raw }}

      <h3 class="profile-username text-center">{{ (app.user.nama is not empty) ? app.user.nama : app.user.username }}</h3>

      <p class="text-muted text-center">{{ app.user.roles[0]|replace({"ROLE": "", "_": " "})|title }}</p>

      <ul class="list-group list-group-unbordered hide">
        <li class="list-group-item">
          <b>Followers</b> <a class="pull-right">1,322</a>
        </li>
        <li class="list-group-item">
          <b>Following</b> <a class="pull-right">543</a>
        </li>
        <li class="list-group-item">
          <b>Friends</b> <a class="pull-right">13,287</a>
        </li>
      </ul>

      <a href="#" class="btn btn-primary btn-block hide"><b>Follow</b></a>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</div>
<!-- /.col -->
<div class="col-md-9">
  <div class="box box-primary">
    <div class="box-header"></div>
    <div class="box-body">

        {% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        {{ form_row(form) }}

        {{ form_end(form) }}

    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}