{% extends 'base.html.twig' %}

{% block title %} Data Term {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header">
		{% if is_granted('ROLE_SUPER_SUPER_ADMIN') %}
		<div class="form-group" style="width:200px">
			<select class="form-control" onchange="this.options[this.selectedIndex].value && (window.location = '{{ url('term_index') }}/'+this.options[this.selectedIndex].value);">
				<option value="">-- Pilih Term --</option>
				<option value="semester">Semester</option>
				<option value="agama">Agama</option>
				<option value="akreditasi">Akreditasi</option>
				<option value="pmb_asal_prodi">Asal Prodi</option>
				<option value="jenjang">Jenjang</option>
				<option value="kelompok Makul">Kelompok Makul</option>
				<option value="kurikulum">Kurikulum</option>
				<option value="jenis_makul">Jenis Makul</option>
			</select>
		</div>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
		{% endif %}
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12 col-md-6">
			  	<table id="example1" class="table table-bordered table-striped">
					<thead>
					    <tr>
							<th>Kode</th>
							<th>Nama {{ masterType }}</th>
							<th>&nbsp;</th>
					    </tr>
					</thead>
					<tbody>
						{% for td in masterList %}
						<tr id="data-{{ td.id }}">
							<td><a href="#" class="term-kode" data-type="text" data-pk="{{ td.id }}">{{ td.kode }}</a></td>
							<td><a href="#" class="term-nama" data-type="text" data-pk="{{ td.id }}">{{ td.nama }}</a></td>
							<td align="center">
								<form method="post" action="{{ path('master_delete', {'type': td.type}) }}">
									<input type="hidden" name="id" value="{{ td.id }}">
									<button type="submit" class="{{ (td.locked == 1) ? 'disabled' : '' }} btn btn-xs btn-danger" onclick="return confirm('Hapus data?')" {{ (td.locked == 1) ? 'disabled' : '' }}>Hapus</button>
									{# <button type="submit" class=" btn btn-xs btn-danger" onclick="return confirm('Hapus data?')" >Hapus</button> #}
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
			  	</table>
			</div>
			<div class="col-sm-12 col-md-offset-1 col-md-5">
				{% form_theme form "form/bootstrap_3_layout.html.twig" %}

				{{ form_start(form) }}

				{{ form_errors(form) }}

				{{ form_widget(form) }}

				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script>
$(function(){
    $('.term-kode').editable({
        url: '{{ path("term_update", {field: "kode"}) }}',
        title: 'Input kode',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},           
       	success: function(data, config) {
           // if(data && data.id) {
           //     $("tr#data-"+data.id+" .lulus").html('Y');                
           // }
       	}
    });
    $('.term-nama').editable({
        url: '{{ path("term_update", {field: "nama"}) }}',
        title: 'Input nama',
       	ajaxOptions: {
           dataType: 'json' //assuming json response
       	},           
       	success: function(data, config) {
           // if(data && data.id) {
           //     $("tr#data-"+data.id+" .lulus").html('Y');                
           // }
       	}
    });
});
</script>
{% endblock %}