{% extends 'base.html.twig' %}

{% block title %} Data Kurikulum {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('kurikulum_edit', {'aksi': 'tambah'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable1" data-order="[1]" class="table table-bordered table-responsive">
	    <thead>
	    <tr>
				<th>&nbsp;</th>
				{% if is_granted('ROLE_SUPER_ADMIN') %}<th>Kode</th>{% endif %}
				<th>Nama Kurikulum</th>
				<th>SKS Wajib</th>
				<th>SKS Pilihan</th>
				<th>Jumlah SKS</th>
				<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				{% if is_granted('ROLE_SUPER_ADMIN') %}<td>{{ td.kode }}</td>{% endif %}
				<td>{{ td.nama }}</td>
				<td>{{ td.sks_wajib }}</td>
				<td>{{ td.sks_pilihan }}</td>
				<td>{{ td.jumlah_sks }}</td>
				<td align="center" width="100">
					<a href="{{ path('kurikulum_edit', {'id': td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					{# <a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Kurikulum"><i class="fa fa-trash"></i></a> #}
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}