{% extends 'base.html.twig' %}

{% block title %} Data Mata Kuliah {% endblock %}

{# {% block breadcrumbs %}
<li>Master</li>
<li>Akademik</li>
<li class="active">Data mata Kuliah</li>
{% endblock %} #}

{% block content %}
<div class="box">
	<div class="box-header">
		{% if app.request.get('kurikulum') is not empty %}
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#tambahModal"><i class="fa fa-plus"></i> TAMBAH</button>
		{# <a href="{{ path('makul_index', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a> #}
		{# <a href="{{ path('makul_edit', {'aksi': 'tambah'}) }}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Mata Kuliah Setara</a> #}
		<a href="javascript:void(0)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#jenisMakulModal"><i class="fa fa-info"></i> Jenis Mata Kuliah</a>
		{# <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exportModal"><i class="fa fa-download"></i> Import dari feeder (Excel)</button> #}
		{% endif %}
		<a target="_blank" href="{{ path('makul_index') }}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> List Mata Kuliah</a>
		<div class="pull-right">
			<div class="form-inline">
				<label>Kurikulum</label>
				<select id="kurikulum-select" class="form-control" style="margin: 0 .5em">
					<option value="">-- Pilih --</option>
					{% for krk in dataKurikulum %}
						<option value="{{ krk.id }}" {{ ( app.request.get('kurikulum') == krk.id ) ? 'selected' : '' }}>{{ krk.nama }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" class="table table-responsive">
	    <thead>
				<tr>
					<th rowspan="2">&nbsp;</th>
					<th rowspan="2">Kode</th>
					<th rowspan="2">Mata Kuliah</th>
					<th rowspan="2" class="text-center">Kelas</th>
					{# <th rowspan="2">Kurikulum</th> #}
					<th rowspan="2" class="text-center">SMTR</th>
					<th colspan="3" class="text-center">SKS</th>
					<th rowspan="2">Dosen Pengajar</th>
					<th rowspan="2" class="text-center">Peserta Kls</th>
					<th rowspan="2">&nbsp;</th>
				</tr>
				<tr>
					<th class="text-center">T</th>
					<th class="text-center">P</th>
					<th class="text-center">L</th>
				</tr>
	    </thead>
	    <tbody>
	    	{% if data.error is null %}
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center"></td>
					<td>{{ td.kode_mk }}</td>
					<td>{{ td.nama_mk }}</td>
					<td align="center">{{ td.kelas }}</td>
					{# 
					<td>
						{% if td.id_kurikulum is not null %}
							<a href="{{ path('kurikulum_edit', {'id': td.id_kurikulum}) }}" target="_blank">
						{% endif %}
						{{ td.nm_kurikulum }}
						{% if td.id_kurikulum is not null %}
							</a>
						{% endif %}
					</td>
 #}
					<td align="center">{{ td.semester }}</td>
					<td align="center">{{ td.sks_t }}</td>
					<td align="center">{{ td.sks_p }}</td>
					<td align="center">{{ td.sks_l }}</td>
					<td>
						{% for dosen in td.dosen %}
							- {{ dosen }}<br>
						{% endfor %}
					</td>
					<td align="center">{{ td.jumlah_krs }}</td>
					<td align="center" width="100">
						<a href="{{ path('kurikulum_makul_index', {aksi: 'edit', id: td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
						<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="KurikulumMakul"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
			{% endif %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>

{% if data.error is null %}
<!-- Modal -->
{# <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
  <div class="modal-dialog" role="document">
    {{ form_start(form, {'attr': {'class': 'modal-content'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exportModalLabel">Import Data Mata Kuliah</h4>
      </div>
      <div class="modal-body">
        {{ form_errors(form) }}
        {{ form_widget(form.imageFile) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        {{ form_widget(form.submit) }}
      </div>
    {{ form_end(form) }}
  </div>
</div> #}

<div class="modal fade" id="tambahModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
  <div class="modal-dialog" role="document">
  	{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
    {{ form_start(form, {'attr': {'class': 'modal-content'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exportModalLabel">Tambah Perkuliahan</h4>
      </div>
      <div class="modal-body">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    {{ form_end(form) }}
  </div>
</div>

<div class="modal fade" id="jenisMakulModal" tabindex="-1" role="dialog" aria-labelledby="jenisMakulModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="jenisMakulModalLabel">Jenis Mata Kuliah</h4>
      </div>
      <div class="modal-body">
        <table class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Kode</th>
					<th>Nama</th>
				</tr>
			</thead>
			<tbody>
				{% set no = 1 %}
				{% for jenis in jenisMakul %}
				<tr>
					<td>{{ no }}</td>
					<td>{{ jenis.kode }}</td>
					<td>{{ jenis.nama }}</td>
				</tr>
				{% set no = no+1 %}
				{% endfor %}
			</tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
  	$("#kurikulum-select").on('change', function(){
  		if (this.value !== '') {
  			var url = "{{ path('kurikulum_makul_index') }}"+"?kurikulum="+this.value;
  			window.location.replace(url);
  		}
  	});
</script>
{% endblock %}