{% extends 'base.html.twig' %}

{% block title %} Data Mata Kuliah {% endblock %}

{# {% block breadcrumbs %}
<li>Master</li>
<li>Akademik</li>
<li class="active">Data mata Kuliah</li>
{% endblock %} #}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('makul_index', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		{# <a href="{{ path('makul_edit', {'aksi': 'tambah'}) }}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Mata Kuliah Setara</a> #}
		<a href="javascript:void(0)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#jenisMakulModal"><i class="fa fa-info"></i> Jenis Mata Kuliah</a>
		{# <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exportModal"><i class="fa fa-download"></i> Import dari feeder (Excel)</button> #}
	</div>
	<!-- /.box-header -->
	<div class="box-body">
	  <table id="datatable1" class="table table-responsive">
	    <thead>
				<tr>
					<th>&nbsp;</th>
					<th>Kode</th>
					<th>Mata Kuliah</th>
					<th>SKS-T</th>
					<th>SKS-P</th>
					<th>SKS-L</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
			{% for td in data.result %}
				<tr id="data-{{ td.id }}">
					<td align="center"></td>
					<td>{{ td.kode_mk }}</td>
					<td>{{ td.nama_mk }}</td>
					<td>{{ td.sks_t }}</td>
					<td>{{ td.sks_p }}</td>
					<td>{{ td.sks_l }}</td>
					<td align="center" width="100">
						<a href="{{ path('makul_index', {aksi: 'edit', id: td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
						<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Makul"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>

<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel">
  <div class="modal-dialog" role="document">
    {{ form_start(form, {'attr': {'class': 'modal-content'}}) }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exportModalLabel">Import Data Mata Kuliah</h4>
      </div>
      <div class="modal-body">
        {{ form_errors(form) }}
        {{ form_widget(form.imageFile) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
        {{ form_widget(form.submit) }}
      </div>
    {{ form_end(form) }}
  </div>
</div>

<div class="modal fade" id="jenisMakulModal" tabindex="-1" role="dialog" aria-labelledby="jenisMakulModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="jenisMakulModalLabel">Jenis Mata Kuliah</h4>
      </div>
      <div class="modal-body">
        <table class="table">
					<thead>
						<tr>
							<th>No</th>
							<th>Kode</th>
							<th>Nama</th>
						</tr>
					</thead>
					<tbody>
						{% set no = 1 %}
						{% for jenis in jenisMakul %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ jenis.kode }}</td>
							<td>{{ jenis.nama }}</td>
						</tr>
						{% set no = no+1 %}
						{% endfor %}
					</tbody>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}