{% extends "base_print.html.twig" %}

{% block content %}
{% set mhs = data.mahasiswa %}

<center>

  <table width="700"  border="0" cellspacing="1" cellpadding="1" >
    <tr>
      <td align=left>
        <table width="700" border="1" align=center cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="16%" rowspan="5"><img src="{{ option.logo }}" width="120" height="120"></td>
            <td valign=top align=center><h1>{{ option.pt.nama }}</h1></td>
          </tr>
          <tr>
            <td width="84%" align=center></td>  
          </tr>
          <tr>
            <td align=center>Telp. {{ option.pt.telp }}/Fax. {{ option.pt.fax }}</td>
          </tr>
          <tr>
            <td align=center>
              Email: {{ option.pt.email }} 
              Website: {{ option.pt.website }}
            </td>
          </tr>
          <tr>
            <td align=center>
              <h2>.............................................................................................................................................</h2>
            </td>
          </tr>
        </table>	
        <center>
          <h2><br/><br/>KRS MAHASISWA SEMESTER {{ (mhs.semester is not null) ? mhs.semester.semester : '' }}</h2><br/><br/>
        </center>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="100">NAMA</td>
            <td width="5">:</td>
            <td width="230"><strong>{{ mhs.user.nama }}</strong></td>
            <td width="30">&nbsp;</td>
            <td>ANGKATAN</td>
            <td>:</td>
            <td><strong>{{ mhs.angkatan }}</strong></td>
          </tr>
          <tr>
            <td>NIM</td>
            <td>:</td>
            <td><strong>{{ mhs.user.username }}</strong></td>
            <td>&nbsp;</td>
            <td>SEMESTER </td>
            <td>:</td>
            <td><strong>{{ (mhs.semester is not null) ? mhs.semester.semester : '' }}</strong></td>
          </tr>
          <tr>
            <td>PEMBIMBING</td>
            <td>:</td>
            <td><strong>{{ mhs.pa.user.nama }}</strong></td>
            <td>&nbsp;</td>
            <td>TAHUN AKADEMIK </td>
            <td>:</td>
            <td><strong> {{ option.ta.nama }}</strong></td>
          </tr>
        </table>
        <br/>  
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=rapor>
          <tr>
            <th width="10">NO</th>
            <th width="50">KODE MK </th>
            <th width="410" >MATA KULIAH </th>
        	  <th width="50" >SMTR MK</th>
            <th width="50">SKS</th>
        	  <th width="50">Status</th> 
          </tr>
          <tr>
            <th>(a)</th>
            <th>(b)</th>
            <th>(c)</th>
            <th>(d)</th>
            <th>(e)</th>
            <th>(f)</th>
          </tr>
          {% if data.makul is not null %}
            {% set no = 1 %}
            {% for makul in data.makul %}
            <tr>
              <td align="center">{{ no }}</td>
              <td>{{ makul.kode }}</td>
              <td>{{ makul.nama }} <em>{{ (makul.namaEng is not empty) ? "("~makul.namaEng~")" : '' }}</em></td>
              <td>{{ no }}</td>
              <td>{{ makul.sksTeori+makul.sksPraktek+makul.sksLapangan }}</td>
              <td>{{ data.status|capitalize }}</td>
            </tr>
            {% set no = no+1 %}
            {% endfor %}
          {% else %}
          <tr>
            <td colspan="7"> Belum ambil KRS</td>
          </tr>
          {% endif %}
        </table>
        <BR/>
        <table width="700" border="1" cellspacing="1" cellpadding="1" class=no-style>
          <tr>
            <td width="50%" align=center valign=midle height="150">
        	Dosen Penasehat Akademik<br/></td>
            <td align=center valign=midle height="150">
              , {{ "now"|date("d F Y") }}<br/>
              Ketua Program Studi {{ mhs.user.prodi.namaProdi }}<br/>
              {{ option.pt.nama }}
            </td>
          </tr>
          <tr align=center valign=bottom>
            <td>
              <b><u>{{ mhs.pa.user.nama }}</u><br/>NIP. {{ mhs.pa.nip }}</b>
            </td>
            <td align=center>
        	       <b>	<u><b> , </b></u><br/>NIP. </b>
        	   </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
{% endblock %}