{% extends 'base.html.twig' %}

{% block title %} KHS Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<div class="form-inline">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester-select" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for i in 1..8 %}
						<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="kelas">Kelas</label>
				<select class="form-control" id="kelas-select" style="width:150px;margin:0 .5em">
					<option value="">-- Pilih --</option>
					{% for kelas in app_service.getKelasList() %}
						<option value="{{ kelas.id }}" {{ (app.request.get('kelas') == kelas.id) ? 'selected' : '' }}>{{ kelas.nama }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="box-body">

		{% if is_granted('ROLE_MAHASISWA') %}

		<table class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>Angkatan</th>
				{# <th>Batas Studi</th> #}
				<th>Semester</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				{% for mhs in data.result %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ mhs.nim }}</td>
						<td>{{ mhs.nama }}</td>
						<td>{{ mhs.angkatan }}</td>
						{# <td>{{ printBatasStudi(mhs) }}</td> #}
						<td>{{ mhs.semester }}</td>
						<td align="center">
							<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('hs_khs_cetak', {id: mhs.id}) }}')"><i class="fa fa-print"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


		{% else %}

		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>Angkatan</th>
				{# <th>Batas Studi</th> #}
				<th>Semester</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				{% for mhs in data.result %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ mhs.nim }}</td>
						<td>{{ mhs.nama }}</td>
						<td>{{ mhs.angkatan }}</td>
						{# <td>{{ printBatasStudi(mhs) }}</td> #}
						<td>{{ mhs.semester }}</td>
						<td align="center">
							<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('hs_khs_cetak', {id: mhs.id}) }}')"><i class="fa fa-print"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}

	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}

{% block js %}
<script>
$(function(){
	$("#semester-select").on('change', function(){
		var kelas = "{{ app.request.get('kelas') }}";
		var url = "{{ path('hs_khs_index') }}";
		url += '?semester='+this.value+'&kelas='+kelas;
		window.location.replace(url);
	});
	$("#kelas-select").on('change', function(){
		var semester = "{{ app.request.get('semester') }}";
		var url = "{{ path('hs_khs_index') }}";
		url += '?semester='+semester+'&kelas='+this.value;
		window.location.replace(url);
	});
});
</script>
{% endblock %}