{% extends 'base.html.twig' %}

{% block title %} Satuan Kredit Kegiatan Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

		{% if is_granted('ROLE_ADMIN') %}

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

		{{ form_start(form) }}

		{{ form_errors(form) }}

		{{ form_widget(form) }}

		{{ form_end(form) }}
		
		<hr>
		<h3 class="page-header">Data Kategori Kegiatan</h3>
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Kategori Kegiatan</th>
					<th>Nilai</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for td in data %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nama }}</td>
					<td>{{ td.custom1 }}</td>
					<td align="center" width="100">
						<a href="{{ path('hs_skk', {'aksi': 'edit', 'id': td.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
						<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Master"><i class="fa fa-trash"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}


		{% if is_granted('ROLE_MAHASISWA') %}

			{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

			{{ form_start(form) }}

			{{ form_errors(form) }}

			{{ form_widget(form) }}

			{{ form_end(form) }}

			<hr>
			<h3 class="page-header">Data SKKM {{ app.user.nama }}</h3>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>No</th>
						<th>Nama Kegiatan</th>
						<th>Kategori</th>
						<th>Tanggal</th>
						<th>Semester</th>
						<th>Nilai</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% set no = 1 %}
					{% for td in data %}
					<tr id="data-{{ td.id }}">
						<td>{{ no }}</td>
						<td>{{ td.kegiatan }}</td>
						<td>{{ (td.kategori is not null) ? td.kategori.nama : '' }}</td>
						<td>{{ (td.tanggal is not null) ? td.tanggal|date('d F Y') : '' }}</td>
						<td>{{ td.semester }}</td>
						<td>{{ (td.kategori is not null) ? td.kategori.custom1 : '' }}</td>
						<td><a href="#" class="hapus-btn" data-id="{{ td.id }}" data-entity="MahasiswaSkk"><span class="text-red">Hapus</span></a></td>
					</tr>
					{% set no = no+1 %}
					{% endfor %}
				</tbody>
			</table>

		{% endif %}

	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}