{% extends 'base.html.twig' %}

{% block title %} Transkrip Nilai {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>Angkatan</th>
				<th>Batas Studi</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				{% for td in app_service.getListMahasiswa() %}
					{% if td.status != app_service.getMasterTermObject('status_mahasiswa', 'L') and td.user is not null and td.user.prodi is not null and app.user.prodi is not null and td.user.prodi == app.user.prodi %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ td.user.username }}</td>
						<td>{{ td.user.nama }}</td>
						<td>{{ td.angkatan }}</td>
						<td>{{ printBatasStudi(td) }}</td>
						<td align="center">
							<a href="#" class="btn btn-primary btn-sm" onclick="openWindow('{{ path('hs_khs_cetak', {id: td.id}) }}')"><i class="fa fa-print"></i></a>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}