<script>
  $(".proses-btn").on('click', function(){
    var btn = $(this);
    var jenis = btn.data('jenis');
    var kode_prodi = ( jenis == 'dosen' ) ? "{{ app.user.prodi.kodeProdi }}" : $("#"+jenis+"_prodi").val();
    //var kode_prodi = $("#"+jenis+"_prodi").val();
    var mhs_tahun = $("#mahasiswa_pt_tahun").val();
    var tahun = ( jenis == 'mahasiswa_pt' ) ? mhs_tahun : 0;

    if ( kode_prodi === '' || tahun === '' ) {
      $.alert('Harap pilih program studi/tahun...');
      return false;
    }

    $.confirm({
        title: '',
        content: 'Proses import data '+jenis+' ke Siakad?',
        buttons: {
            ya: function () {
                $("#is_error").val("no");
                $('table').find(".data-progress-bar").remove();
                var html = '';
                html += '<tr class="data-progress-bar"><td colspan="4">';
                html += '<div class="progress-group">';
                html += '<span class="progress-text"><span class="text-green"><span class="progress-percent">0</span>%</span> <em> - <span class="progress-message text-red" style="font-weight:normal;font-size:12px;">Sedang mengambil data...</span></em></span>';
                html += '<span class="progress-number"><b>0</b>/<span class="total-data">-</span></span>';
                html += '<div class="progress sm"><div class="progress-bar progress-bar-gray" style="width: 0"></div></div>';
                html += '</div></td></tr>';

                $("#data-"+jenis).after(html);

                btn.html('<img src="{{ asset("uploads/loader2.gif") }}">');
                btn.prop('disabled', true).addClass('disabled');

                $.ajax({
                  type: "POST",
                  //url: "/feeder/"+jenis+"/ajax_feed",
									url: "{{ url('feeder_get_count_recordset') }}",
                  data: {kode_prodi: kode_prodi, table: jenis, tahun: tahun},
                  success: function(data) {

                    console.log(data);
										
										var jumlah_data = parseInt(data);
										if( jumlah_data > 0 ) {
                      $(".data-progress-bar .progress-number .total-data").text(jumlah_data);
                      $(".data-progress-bar .progress-bar").css({"width": "0%"});
                      $(".data-progress-bar .progress-text .progress-percent").text("0");
											for( var i = 0; i < jumlah_data; i++ ) {
												
                          var error = $("#is_error").val();
                          if ( error === "yes" ) { 
                            $(".data-progress-bar td").html('<p class="text-red text-center">Terjadi kesalahan saat mengambil data...</span>');
                            $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
                            //$.alert('Terjadi kesalahan!');
                            break; 
														
                          } else {

                            do_import(jenis, kode_prodi, tahun, jumlah_data, i);

                            // console.log(JSON.parse(data[i]))
                          }
											}
											
										} else {
                      // $("#is_error").val();
                      $(".data-progress-bar td").html('<p class="text-red text-center">Data tidak ditemukan...</span>');
                      $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
                    }

                  }
                })
                .fail(function(data) {
                  $.alert('Terjadi kesalahan...');
                });

            },
            batal: function () {
              return;   
            }
        }
    });

  });
</script>

<script>
function do_import(jenis, kode_prodi, tahun, jumlah_data, offset) {

    setTimeout(function(){

        $.ajax({
          type: "POST",
          url: "/feeder/"+jenis+"/ajax_import",
          data: {kode_prodi: kode_prodi, tahun: tahun, offset: offset},
					success: function(result) {
            var count = parseInt($(".data-progress-bar .progress-number b").text());
						var current_percent = ((count+1)/jumlah_data)*100;
            if (current_percent >= 100) {
              $(".data-progress-bar .progress-bar-gray").addClass('progress-bar-green').removeClass('progress-bar-gray');
              $(".proses-btn").prop("disabled", false).removeClass('disabled').text('PROSES');
            }
            $(".data-progress-bar .progress-text .progress-message").text(result.message);
//               if (current_percent > 0) {
            $(".data-progress-bar .progress-text .progress-percent").text(Math.ceil(current_percent));
            $(".data-progress-bar .progress-bar").css({"width": current_percent+"%"});
//               }
            $(".data-progress-bar .progress-number b").text(count+1);
            console.log(result);	
					}
        })
        .fail(function(data) {
          $("#is_error").val("yes");
        });

    }, 1000);

}
</script>