<form id="ref-form" action="" method="post" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <select id="ref" name="table" class="form-control">
          <option value="">-- PILIH REF --</option>
          {% set unset = ['tahun_ajaran', 'negara', 'jurusan', 'kebutuhan_khusus', 'semester', 'wilayah', 'jenis_aktivitas_mahasiswa', 'jenis_sms', 'kategori_kegiatan'] %}
          {% for ref in refs %}
            {% if ref.jenis == 'Ref' and ref.table not in unset %}
              <option value="{{ ref.table }}">{{ ref.table|replace({'_': ' '})|title }}{# {{ ref.keterangan }} #}</option>
            {% endif %}
          {% endfor %}
        </select>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <button type="submit" id="submit-ref-btn" class="btn btn-primary"><i class="fa fa-send"></i> PROSES</button>
    </div>
  </div>
</form>

<div class="progress-group ref-progress" style="display:none">
  <span class="progress-text"><span class="progress-percent">0</span>%</span>
  <span class="progress-number"><b>0</b>/<span class="total-data">-</span></span>

  <div class="progress sm">
    <div class="progress-bar progress-bar-gray" style="width: 0"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-9" id="ref-msg"></div>
</div>
<div class="clearfix"></div>