{% extends 'base.html.twig' %}

{% block title %} Ambil KRS Mahasiswa {% endblock %}

{% block css %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
<style type="text/css">
	{% if is_granted('ROLE_MAHASISWA') %}
	#cariForm{ display: none !important; }
	{% endif %}
</style>
{% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
      <table class="table no-border">
        <tr>
          <th width="200">NIM</th>
          <td>: {{ app.user.username }}</td>
        </tr>
        <tr>
          <th>Nama</th>
          <td>: {{ app.user.nama }}</td>
        </tr>
        <tr>
          <th>Jurusan/Program Studi</th>
          <td>: {{ app.user.prodi.jenjang }} {{ (app.user.prodi is not null) ? app.user.prodi.namaProdi : '' }}</td>
        </tr>
      </table>
	</div>
	<div class="box-body">

			{% if data.error is not null %}

				<div class="alert alert-warning">
					<strong>Informasi!</strong> {{ data.error }}
				</div>

			{% else %}

				<form method="post" action="{{ path('krs_ambil') }}">


					<div class="form-group">
						<label>Paket KRS</label>
						<select class="form-control" id="paket_semester" name="semester" style="width:250px" required="">
							<option value="">-- Pilih Semester --</option>
							{% for i in 1..8 %}
								<option value="{{ i }}" {{ (i == app.request.get('semester')) ? 'selected' : '' }}>Semester {{ i }} ({{app.user.prodi.namaProdi}})</option>
							{% endfor %}
						</select>
					</div>

					{% if app.request.get('semester') != '' %}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th rowspan="2" width="50" class="text-center"></th>
								<th rowspan="2">Kode</th>
								<th rowspan="2">Mata Kuliah</th>
								{# <th rowspan="2">Kelas</th> #}
								<th rowspan="2">Dosen</th>
								<th colspan="3" class="text-center">SKS</th>
							</tr>
							<tr>
								<th class="text-center">T</th>
								<th class="text-center">P</th>
								<th class="text-center">L</th>
							</tr>
						</thead>
						<tbody>
								{% for makul in data.result.paket_krs %}
									<tr>
										<td align="center"><input type="checkbox" name="id_makul[]" value="{{ makul.id }}"></td>
										<td>{{ makul.kode_mk }}</td>
										<td>{{ makul.nama_mk }}</td>
										{# <td>{{ makul.kelas }}</td> #}
										<td>
											{% if makul.dosen_pengampu|length > 0 %}
											{% for dp in makul.dosen_pengampu %}
												{{ dp }}#
											{% endfor %}
											{% endif %}
										</td>
										<td align="center">{{ makul.sks_teori }}</td>
										<td align="center">{{ makul.sks_praktek }}</td>
										<td align="center">{{ makul.sks_lapangan }}</td>
									</tr>
								{% endfor %}
						</tbody>
						{% if data.result.paket_krs|length > 0 %}
						<tfoot>
							<tr>
								<th colspan="8">
									<input type="hidden" name="nim" value="{{ app.user.username }}">
									<button type="submit" class="btn btn-success">Ambil KRS</button>
								</th>
							</tr>
						</tfoot>
						{% endif %}
					</table>
					{% endif %}

				</form>

			{% endif %}

	</div>
</div>


<div class="box box-default table-wrap">
	<div class="box-header">
		<a href="{{ path('krs_cetak', {nim: app.user.username}) }}" class="btn btn-primary" target="_blank"><i class="fa fa-print"></i> KRS yang sudah diambil {{ (is_granted('ROLE_MAHASISWA')) ? app.user.nama : 'Mahasiswa' }}</a>
	</div>
	<div class="box-body">

		<table id="datatable1" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>No</th>
				<th>Kode MK</th>
				<th>Mata Kuliah</th>
				<th>Kelas</th>
				<th>SMTR</th>
				<th>SKS</th>
				<th>Status</th>
			</tr>
			</thead>
			<tbody>
				{% set no = 1 %}
				{% for krs in data.result.krs_sudah_diambil %}
					<tr>
						<td align="center" width="20"></td>
						<td>{{ krs.kode_mk }}</td>
						<td>{{ krs.nama_mk }}</td>
						<td>{{ krs.kelas }}</td>
						<td>{{ krs.semester }}</td>
						<td>{{ krs.jml_sks }}</td>
						<td>{{ krs.status|title }}</td>
					</tr>
					{% set no = no+1 %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
{% if is_granted('ROLE_MAHASISWA') %}
<script>
	$(document).ready(function() {
		$("input[name='nim']").val("{{ app.user.username }}");
		setTimeout(function() {
			$("#cariForm").submit();
		}, 3000)
	});
</script>
<script>
  $(function() {
      var form = $('#cariForm');
      var formMessages = $('#cariFormMsg');
      $(form).submit(function(e) {
        e.preventDefault();
        var formData = $(form).serialize();
        $.ajax({
          type: 'POST',
          url: $(form).attr('action'),
          data: formData
        })
        .done(function(response) {
        	if ( response == 'null' ) {
        		$(formMessages).html('<div class="alert alert-error">Mahasiswa tidak ditemukan!</div>');
        	} else {
        		$(formMessages).html(response);
        		$(".table-wrap").show();
        	}
        })
        .fail(function(data) {
          if (data.responseText !== '') {
            $(formMessages).html(data.responseText);
          } else {
            $(formMessages).html('Oops! Terjadi kesalahan sistem.');
          }
        });
      });
    });
</script>
{% endif %}
{% if is_granted('ROLE_ADMIN') and app.request.get('nim') is not empty %}
<script>
  $(function() {
	    var nim = $('input[name="nim"]').val();
	    var formMessages = $('#cariFormMsg');
	    if ( nim !== '' ) {
		    $.ajax({
		      type: 'POST',
		      url: "{{ path('cari_mahasiswa') }}",
		      data: {nim:nim}
		    })
		    .done(function(response) {
		    	if ( response == 'null' ) {
		    		$(".table-wrap").hide();
		    		$(formMessages).html('<div class="alert alert-error">Mahasiswa tidak ditemukan!</div>');
		    	} else {
		    		$(formMessages).html(response);
		    		$(".table-wrap").show();
		    	}
		    })
		    .fail(function(data) {
		      if (data.responseText !== '') {
		        $(formMessages).html(data.responseText);
		      } else {
		        $(formMessages).html('Oops! Terjadi kesalahan sistem.');
		      }
		    });
	    }
    });
</script>
{% endif %}
<script>
	$("#paket_semester").on('change', function(){
		var url = "{{ path('krs_ambil') }}?semester="+this.value;
		{% if app.request.get('nim') is not empty %}
			url += "&nim={{ app.request.get('nim') }}";
		{% endif %}
		window.location.replace(url);
	});
</script>
{% endblock %}