{% extends 'base.html.twig' %}

{% block title %} Kartu Ujian {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<div class="form-inline">
			<div class="form-group">
				<label for="semester">Semester</label>
				<select class="form-control" id="semester" style="width:200px;margin:0 .5em">
					<option value="">-- Pilih Semester --</option>
						{% for i in 1..8 %}
							<option value="{{ i }}" {{ (app.request.get('semester') == i) ? 'selected' : '' }}>Semester {{ i }}</option>
						{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="kelas">Kelas</label>
				<select class="form-control" id="kelas" style="width:150px;margin:0 .5em">
					<option value="">-- Pilih Kelas --</option>
					{% for k in dataKelas %}
						<option value="{{ k.id }}" {{ (app.request.get('kelas') == k.id) ? 'selected' : '' }}>{{ k.nama }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="box-body">
		<form action="{{ path('kartu_ujian_cetak') }}" method="post" target="new">
		<table id="datatable1" class="table">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama Mahasiswa</th>
				<th>Angkatan</th>
				<th>Batas Studi</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			{% for td in data %}
				{% if td.user is not null and td.semester is not null and td.kelas is not null %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.user.username }}</td>
					<td>{{ td.user.nama }}</td>
					<td>{{ td.angkatan }}</td>
					<td>{{ printBatasStudi(td) }}</td>
					<td><input type="checkbox" value="{{ td.user.username }}" name="nim[]"></td>
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>
			{% if data|length > 0 %}
			<tfoot>
				<tr>
					<th colspan="6" class="text-right"><button type="submit" class="btn btn-success">Proses Cetak Kartu Ujian</button></th>
				</tr>
			</tfoot>
			{% endif %}
		</table>
		</form>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
  	$("#semester, #kelas").on('change', function () {
  		var url = "{{ url('kartu_ujian_index') }}";
  		var semester = $("#semester").val();
  		var kelas = $("#kelas").val();
  		url += "?semester="+semester+"&kelas="+kelas;
    	window.location.replace(url);
  	});
</script>
{% endblock %}