{% extends 'base.html.twig' %}

{% block title %} Nilai Semester Mahasiswa  {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

{% if app.user.prodi is not null %}

<div class="box">
	<div class="box-body">
		<table class="table no-border">			
			<tbody>


				<tr>
					<th width="130">Paket KRS</th>
					<td>
						<select class="form-control" id="semester-select" style="width:250px" required="">
							<option value="">-- Pilih Semester --</option>
							{% for i in 1..8 %}
								<option value="{{ i }}" {{ (i == app.request.get('semester')) ? 'selected' : '' }}>Semester {{ i }} ({{app.user.prodi.namaProdi}})</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				{% if app.request.get('semester') is not empty %}

						<tr>
							<th>Kurikulum</th>
							<td>
								<select class="form-control" id="kurikulum-select" style="width:250px" required="">
									<option value="">-- Pilih --</option>
									{% for dk in dataKurikulum %}
										<option value="{{ dk.id }}" {{ (app.request.get('kurikulum') == dk.id) ? 'selected' : '' }}>{{ dk.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>

						{% if app.request.get('kurikulum') is not empty %}
						<tr>
							<th>Mata Kuliah</th>
							<td>
								<select class="form-control" id="makul-select" style="width:250px">
									<option value="">-- Pilih --</option>
									{% for mk in dataMakul %}
										<option value="{{ mk.id }}" {{ (app.request.get('makul') == mk.id) ? 'selected' : '' }}>{{ mk.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						{% if app.request.get('makul') is not empty %}
						<tr>
							<th>Kelas</th>
							<td>
								<select class="form-control" id="kelas-select" style="width:150px">
									<option value="">-- Pilih --</option>
									{% for kls in dataKelas %}
										<option value="{{ kls.id }}" {{ (kls.id == app.request.get('kelas')) ? 'selected' : '' }}>{{ kls.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						{% endif %}
					{% endif %}
				{% endif %}


			</tbody>

			{% if 
				app.request.get('semester') is not empty and 
				app.request.get('kurikulum') is not empty and 
				app.request.get('makul') is not empty and 
				app.request.get('kelas') is not empty 
			%}

{# 				<tfoot>
					<tr>
						<th colspan="2">
							<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#nilaiAspekModal">Input Nilai Aspek</a>
							<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#nilaiAkhirModal">Input Nilai Akhir</a>
						</th>
					</tr>
				</tfoot> #}

			{% endif %}

		</table>
		
		<br>
		
		{% if aspekNilai is not defined %}
			<div class="alert alert-warning">
				<p>Aspek nilai belum diatur...</p>
			</div>

		{% else %}

			{% if 
				app.request.get('semester') is not empty and 
				app.request.get('kurikulum') is not empty and 
				app.request.get('makul') is not empty and 
				app.request.get('kelas') is not empty 
			%}
 
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">&nbsp;</th>
						<th rowspan="2">NPM</th>
						<th rowspan="2">Nama Mahasiswa</th>
						<th class="text-center" rowspan="2">L/P</th>
						<th class="text-center" colspan="{{ (aspekNilai is defined) ? aspekNilai|length+4 : 4 }}">{{ (makul is not null) ? makul.nama : '' }}</th>
					</tr>
					<tr>
						{% if aspekNilai is defined %}
							{% for asnl in aspekNilai %}
							<th class="text-center">{{ asnl.nama }} ({{ asnl.persen }}%)</th>
							{% endfor %}
						{% endif %}
						<th class="text-center">H</th>
						<th class="text-center">A</th>
						{# <th class="text-center">Bobot</th> #}
						<th class="text-center">Lulus</th>
					</tr>
				</thead>
				<tbody> 
					{% set no = 1 %}
					{% for mhs in dataMahasiswa %}
						{% if mhs.krs|length > 0 %}
						{% set nilai = 0 %}
						<tr>
							<td>{{ no }}</td>
							<td>{{ mhs.user.username }}</td>
							<td>{{ mhs.user.nama }}</td>
							<td>{{ mhs.user.jk }}</td>
							{% if aspekNilai is defined %}
								{% for aspek in aspekNilai %}
									{% set np = getNilaiPerkuliahan(mhs, makul, aspek) %}
									<td class="text-center">
										<span id="aspek-{{ aspek.id }}-{{ mhs.id }}">
										{% if aspek.nama != 'Absensi' %}
										<a href="#" class="nilai-aspek-{{ aspek.id }}" data-type="number" data-pk="{{ ( np[2] is defined ) ? np[2] : 0 }}">
										{% endif %}
											{{ ( np[0] is defined ) ? np[0] : 0 }}
										{% if aspek.nama != 'Absensi' %}
										</a> 
										{% endif %}
										<span class="aspek-persen">({{ ( np[1] is defined ) ? np[1] : 0 }})</span>
										</span>
									</td>
									{% set np_final = (np[1] is defined) ? np[1] : 0 %}
									{% set nilai = nilai+np_final %}
								{% endfor %}
							{% endif %}
							<td>{{ getBobotNilai(nilai, true) }}</td>
							<td>{{ getBobotNilai(nilai) }}</td>
							{# <td></td> #}
							<td>{{ getBobotNilai(nilai, false, true) }}</td>
						</tr>
						{% set no = no+1 %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>

			{% endif %}

		{% endif %}
		
	</div>
</div>

<!-- Modal Nilai Akhir -->
{# <div class="modal fade" id="nilaiAkhirModal" tabindex="-1" role="dialog" aria-labelledby="nilaiAkhirModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <form action="{{ path('nilai_tugas_akhir_input_action', {semester: app.request.get('semester'), kurikulum: app.request.get('kurikulum'), kelas: app.request.get('kelas'), makul: app.request.get('makul')}) }}" method="post" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="nilaiAkhirModalLabel">Input Nilai Akhir</h4>
      </div>
      <div class="modal-body">

		{% if 
			app.request.get('semester') is not empty and 
			app.request.get('kurikulum') is not empty and 
			app.request.get('makul') is not empty and 
			app.request.get('kelas') is not empty 
		%}
			<table id="datatable1" class="table table-hover table-striped table-responsive">
				<thead>
					<tr>
						<th>No</th>
						<th>NIM</th>
						<th>Nama Mahasiswa</th>
						<th>Jenis Kelamin</th>
						<th>Kelas</th>
						<th>Nilai Akhir</th>
					</tr>
				</thead>
				<tbody> 
					{% set no = 1 %}
					{% for td in dataKhs %}
						{% if 
							td.mahasiswa.user is not null and 
							td.mahasiswa.kelas == kelas and 
							td.krs|length > 0
						%}
							{% for krs in td.krs %}
								{% if krs.makul == makul %}
									{% set bobot = getBobotNilai( krs.nilaiAkhir, td.mahasiswa.user.prodi ) %}
									<tr id="data-{{ td.id }}">
										<td align="center" width="20"></td>
										<td>{{ td.mahasiswa.user.username }}</td>
										<td>{{ td.mahasiswa.user.nama }}</td>
										<td align="center">{{ td.mahasiswa.user.jk|upper }}</td>
										<td>{{ td.mahasiswa.kelas.nama }}</td>
										<td width="150">
											<input type="hidden" name="nim[]" value="{{ td.mahasiswa.user.username }}">
											<input type="number" class="form-control" name="nilai[]" value="">
										</td>
									</tr>
								{% set no = no+1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<input type="hidden" name="makul" value="{{ (data.makul.id is defined) ? data.makul.id : 0 }}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
    </form>
  </div>
</div> #}

{% endif %}

{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$("#semester-select").on('change', function(){
			var url = "{{ url('nilai_semester_index') }}";
			var semester = $("#semester-select").val();
			url += "?semester="+semester;
			window.location.replace(url);
		});
	});
</script>



	{% if app.request.get('semester') is not empty %}
	<script>
		$(document).ready(function(){
			$("#kurikulum-select").on('change', function(){
				var url = "{{ url('nilai_semester_index') }}";
				var semester = "{{ app.request.get('semester') }}";
				var makul = "{{ app.request.get('makul') }}";
				url += "?semester="+semester+"&kurikulum="+this.value;
				if ( makul !== '' ) {
					url += "&makul="+makul;
				}
				window.location.replace(url);
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			$("#makul-select").on('change', function(){
				var url = "{{ url('nilai_semester_index') }}";
				var semester = "{{ app.request.get('semester') }}";
				var kurikulum = "{{ app.request.get('kurikulum') }}";
				url += "?semester="+semester+"&kurikulum="+kurikulum+"&makul="+this.value;
				window.location.replace(url);
			});
		});
	</script>
		{% if app.request.get('makul') is not empty %}
		<script>
			$(document).ready(function(){
				$("#kelas-select").on('change', function(){
					var url = "{{ url('nilai_semester_index') }}";
					var semester = "{{ app.request.get('semester') }}";
					var kurikulum = "{{ app.request.get('kurikulum') }}";
					var makul = "{{ app.request.get('makul') }}";
					url += "?semester="+semester+"&kurikulum="+kurikulum+"&makul="+makul+"&kelas="+this.value;
					window.location.replace(url);
				});
			});
		</script>
		{% endif %}
	{% endif %}


<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

{% if aspekNilai is defined %}
	{% for aspek in aspekNilai %}
		{% if aspek.nama != 'Absensi' %}
		<script>
		$(function(){
		    $('.nilai-aspek-{{ aspek.id }}').editable({
		        url: '{{ url("_edit_nilai_aspek") }}',
		        title: 'Input nilai',
		       	ajaxOptions: {
		           	dataType: 'json' 
		       	},
		       	success: function(data, config) {
		           	// if(data && data.id) {
		            //    // $("tr#data-"+data.id+" .lulus").html('Y');
		            //    $("tr#data-"+data.id+" .nilai-aspek-{{ aspek.id }}").text('adshjkdas');
		           	// }

		           	// $(this).html(data.nilai);
		           	console.log(data);
		           	var ctr = $(this);
		           	setTimeout(function(){
		           		$('#aspek-{{ aspek.id }}-'+data.mhs+' a').text(data.nilai);
		           		$('#aspek-{{ aspek.id }}-'+data.mhs+' .aspek-persen').text(data.nilai_final);
		           	}, 3000);
		       	}
		    });   
		});
		// $('.nilai-aspek-{{ aspek.id }}').on('save', function(e, editable) {
		//     // editable.input.$input.val('overwriting value of input..');
		//     console.log(editable);
		    
		// });	 
	    // $('.nilai-aspek-{{ aspek.id }}').on('save', function(e, params) {
	    //     console.log(e);
	    // });
		</script>
		{% endif %}
	{% endfor %}
{% endif %}

{% endblock %}