{% extends 'base.html.twig' %}

{% block title %} Nilai Semester Mahasiswa  {% endblock %}

{% block css %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

{% if app.user.prodi is not null %}

<div class="box"> 
	<div class="box-body">
		<table class="table no-border">			
			<tbody>

				<tr>
					<th width="130">Semester KRS</th>
					<td>
						<select class="form-control" id="semester-select" style="width:250px" required="">
							<option value="">-- Pilih Semester --</option>
							{% for i in 1..8 %}
								<option value="{{ i }}" {{ (i == app.request.get('semester')) ? 'selected' : '' }}>Semester {{ i }} ({{app.user.prodi.namaProdi}})</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				{% if app.request.get('semester') is not empty %}

						<tr>
							<th>Kurikulum</th>
							<td>
								<select class="form-control" id="kurikulum-select" style="width:250px" required="">
									<option value="">-- Pilih --</option>
									{% for dk in dataKurikulum %}
										<option value="{{ dk.id }}" {{ (app.request.get('kurikulum') == dk.id) ? 'selected' : '' }}>{{ dk.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>

						{% if app.request.get('kurikulum') is not empty %}
						<tr>
							<th>Mata Kuliah</th>
							<td>
								<select class="form-control" id="makul-select" style="width:250px">
									<option value="">-- Pilih --</option>
									{% for mk in kurikulum.makuls %}
										<option value="{{ mk.id }}" {{ (app.request.get('makul') == mk.id) ? 'selected' : '' }}>{{ mk.makul.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						{% if app.request.get('makul') is not empty %} 
						<tr>
							<th>Kelas</th>
							<td>
								<select class="form-control" id="kelas-select" style="width:150px">
									<option value="">-- Pilih --</option>
									{% for kls in dataKelas %}
										<option value="{{ kls.id }}" {{ (kls.id == app.request.get('kelas')) ? 'selected' : '' }}>{{ kls.nama }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						{% endif %}
					{% endif %}
				{% endif %}

			</tbody>

			{% if 
				app.request.get('semester') is not empty and 
				app.request.get('kurikulum') is not empty and 
				app.request.get('makul') is not empty and 
				app.request.get('kelas') is not empty 
			%}
{# 
				<tfoot>
					<tr>
						<th colspan="2">
							<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#nilaiAspekModal">Input Nilai Aspek</a>
							<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#nilaiAkhirModal">Input Nilai Akhir</a>
						</th>
					</tr>
				</tfoot> #}

			{% endif %}

		</table>
	
		<br>
		{% if data.error is not null %}
		<div class="alert alert-warning">
			{{ data.error }}
		</div>
		{% endif %}
		{% if 
			app.request.get('semester') is not empty and 
			app.request.get('kurikulum') is not empty and
			app.request.get('makul') is not empty
		%} 
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">&nbsp;</th>
						<th rowspan="2">NPM</th>
						<th rowspan="2">Nama Mahasiswa</th>
						<th class="text-center" rowspan="2">L/P</th>
						<th class="text-center" colspan="{{ (dataAspekNilai is defined) ? dataAspekNilai|length+4 : 4 }}">{{ (makul is not null) ? makul.nama : '' }}</th>
					</tr>
					<tr>
						{% if dataAspekNilai is defined %}
							{% for asnl in dataAspekNilai %}
							<th class="text-center">{{ asnl.nama }} ({{ asnl.persen }}%)</th>
							{% endfor %}
						{% endif %}
						<th class="text-center">H</th>
						<th class="text-center">A</th>
						{# <th class="text-center">Bobot</th> #}
						{# <th class="text-center">Lulus</th> #}
					</tr>
				</thead>
				<tbody> 
					{% set no = 1 %}
					{% for mhs in data.result %}
						<tr id="krs-{{ mhs.id }}">
							<td width="20" align="center">{{ no }}</td>
							<td>{{ mhs.nim }}</td>
							<td>{{ mhs.nama }}</td>
							<td width="20" align="center">{{ mhs.jk }}</td>
							{% for aspek in mhs.nilai_aspek %}
								<td class="text-center">
									<span id="aspek-{{ aspek.id }}-{{ mhs.id_mhs }}">
									{% if aspek.nama_aspek != 'Absensi' %}
									<a href="#" class="nilai-aspek-{{ aspek.id }}" data-type="number" data-pk="{{ aspek.id_np }}">
									{% endif %}
									{{ aspek.nilai }}
									{% if aspek.nama_aspek != 'Absensi' %}
									</a> 
									{% endif %}
									<span class="aspek-persen">({{ aspek.nilai_akhir }})</span>
									</span>
								</td>
							{% endfor %}
							<td width="35" align="center">
								<a href="#" class="nilai_huruf" data-type="select" data-pk="{{ mhs.id }}" data-url="{{ url("nilai_semester_krs_update_nilai", {type: 'huruf'}) }}">{{ mhs.nilai_huruf }}</a>
							</td>
							<td width="35" align="center">
								<span class="nilai_angka">{{ mhs.nilai_angka }}</span>
							</td>
							{# <td></td> #}
							{# <td align="center">{{ mhs.lulus }}</td> #}
						</tr>
						{% set no = no+1 %}
					{% endfor %}
				</tbody>
			</table>		
		{% endif %}
		
	</div>
</div>

{% endif %}

{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		$("#semester-select").on('change', function(){
			var url = "{{ url('nilai_semester_index') }}";
			var semester = $("#semester-select").val();
			url += "?semester="+semester;
			window.location.replace(url);
		});
	});
</script>

{% if app.request.get('semester') is not empty %}
<script>
	$(document).ready(function(){
		$("#kurikulum-select").on('change', function(){
			var url = "{{ url('nilai_semester_index') }}";
			var semester = "{{ app.request.get('semester') }}";
			var makul = "{{ app.request.get('makul') }}";
			url += "?semester="+semester+"&kurikulum="+this.value;
			if ( makul !== '' ) {
				url += "&makul="+makul;
			}
			window.location.replace(url);
		});
	});
</script>
<script>
	$(document).ready(function(){
		$("#makul-select").on('change', function(){
			var url = "{{ url('nilai_semester_index') }}";
			var semester = "{{ app.request.get('semester') }}";
			var kurikulum = "{{ app.request.get('kurikulum') }}";
			url += "?semester="+semester+"&kurikulum="+kurikulum+"&makul="+this.value;
			window.location.replace(url);
		});
	});
</script>
	{% if app.request.get('makul') is not empty %}
	<script>
		$(document).ready(function(){
			$("#kelas-select").on('change', function(){
				var url = "{{ url('nilai_semester_index') }}";
				var semester = "{{ app.request.get('semester') }}";
				var kurikulum = "{{ app.request.get('kurikulum') }}";
				var makul = "{{ app.request.get('makul') }}";
				url += "?semester="+semester+"&kurikulum="+kurikulum+"&makul="+makul+"&kelas="+this.value;
				window.location.replace(url);
			});
		});
	</script>
	{% endif %}
{% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


	{% for aspek in dataAspekNilai %}
		{% if aspek.nama != 'Absensi' %}
		<script>
		$(function(){
		    $('.nilai-aspek-{{ aspek.id }}').editable({
		        url: '{{ url("_edit_nilai_aspek") }}',
		        title: 'Input nilai',
		       	ajaxOptions: {
		           	dataType: 'json' 
		       	},
		       	success: function(data, config) {
		           	// if(data && data.id) {
		            //    // $("tr#data-"+data.id+" .lulus").html('Y');
		            //    $("tr#data-"+data.id+" .nilai-aspek-{{ aspek.id }}").text('adshjkdas');
		           	// }

		           	// $(this).html(data.nilai);
		           	console.log(data);
		           	var ctr = $(this);
		           	setTimeout(function(){
		           		$('#aspek-{{ aspek.id }}-'+data.mhs+' a').text(data.nilai);
		           		$('#aspek-{{ aspek.id }}-'+data.mhs+' .aspek-persen').text(data.nilai_final);
		           	}, 3000);
		       	}
		    });   
		});
		// $('.nilai-aspek-{{ aspek.id }}').on('save', function(e, editable) {
		//     // editable.input.$input.val('overwriting value of input..');
		//     console.log(editable);
		    
		// });	 
	    // $('.nilai-aspek-{{ aspek.id }}').on('save', function(e, params) {
	    //     console.log(e);
	    // });
		</script>
		{% endif %}
	{% endfor %}

<script>
	$(function(){
	    $('.nilai_huruf').editable({
	        title: 'Nilai huruf',
	       	ajaxOptions: {
	           dataType: 'json' //assuming json response
	       	},
	       	success: function(data, config) {
	           	setTimeout(function(){
	           		$('#krs-'+data.krs_id+' .nilai_angka').text(data.angka);
	           	}, 3000);
	       	},
	        source: [
				{% for bn in dataBobotNilai %}
	              {value: '{{ bn.predikat }}', text: '{{ bn.predikat }}'}{% if not loop.last %},{% endif %}
	            {% endfor %}
	           ]
	    });
	});
</script>

{% endblock %}