{% extends 'base.html.twig' %}

{% block title %} Data Tugas Akhir Mahasiswa   {% endblock %}


{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>IPK</th>
				<th>Rangking</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}