{% extends 'base.html.twig' %}

{% block title %} Jadwal Perawatan Inventaris {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}

<div class="box no-border">
	<div class="box-header no-padding">
		{% include "partials/inventaris_nav.html.twig" %}
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-bordered table-striped">
	    <thead>
	    <tr>
			<th>#</th>
			<th>Nama Barang</th>
			<th>Harga Beli</th>
			<th>Tanggal Beli</th>
			<th>Jadwal Perawatan</th>
			<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
	    	{% set no = 1 %}
			{% for inventaris in data %}
			<tr id="id-{{ inventaris.id }}">
				<td>{{ no }}</td>
				<td>{{ inventaris.namaBarang }}</td>
				<td>{{ inventaris.hargaBeli }}</td>
				<td>{{ inventaris.tglBeli|date("d-m-Y") }}</td>
				<td>{{ inventaris.jadwalRawat|date("d-m-Y") }}</td>
				<td align="center">
					<a href="{{ path('inventaris_edit', {'id': inventaris.id}) }}">Edit</a>
				</td>
			</tr>
			{% set no = no+1 %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
{% block js %}
<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<script>
  	$(function () {
    	$("#datatable1").DataTable();
  	});
</script>
{% endblock %}