{% extends 'base.html.twig' %}

{% block title %} Perguruan Tinggi {% endblock %}

{% block content %}

<div class="box">
	<div class="box-body">
		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}
		{{ form_start(form) }}

		{{ form_errors(form) }}

		<h2 class="page-header">Identitas</h2>

		{{ form_row(form.value.kode_badan_hukum) }}

		{{ form_row(form.value.kode_perguruan_tinggi) }}

		{{ form_row(form.value.nama_perguruan_tinggi) }}

		{{ form_row(form.value.singkatan_nama_perguruan_tinggi) }}

		{{ form_row(form.value.tanggal_berdiri) }}

		<h2 class="page-header">Akta Terakhir</h2>

		{{ form_row(form.value.nomor_akta) }}

		{{ form_row(form.value.tanggal_akta) }}

		<h2 class="page-header">Pengesahan</h2>

		{{ form_row(form.value.nomor_pengesahan) }}

		{{ form_row(form.value.tanggal_pengesahan) }}

		{{ form_row(form.value.akreditasi) }}

		<h2 class="page-header">Alamat</h2>

		{{ form_row(form.value.alamat_utama) }}

		{{ form_row(form.value.alamat_lain) }}

		{{ form_row(form.value.kota) }}

		{{ form_row(form.value.provinsi) }}

		{{ form_row(form.value.kode_pos) }}

		{{ form_row(form.value.telp) }}

		{{ form_row(form.value.fax) }}

		{{ form_row(form.value.email) }}

		{{ form_row(form.value.website) }}

		{{ form_widget(form) }}

		{{ form_end(form) }}
	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function(){
			$(".datepicker").datepicker();
		});
	</script>
{% endblock %}