{% extends 'base.html.twig' %}

{% block title %} Tambah/Edit Program Studi {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	  	{{ form_start(form) }}

	  	{{ form_errors(form) }}

	    {% for field in [ 
	    	'kode',
	        'kodeProdi',
	        'namaProdi',
	        'jenjang',
	        'gelarAkademik',
	        'singkatanGelarAkademik',
	        'sksLulus',
	        'status',
	        'tglBerdiri',
	        'semesterAwal',
	        'mulaiSemester',
	        'frekuensiKurikulum',
					'pelaksanaanKurikulum'
	    ] if (attribute(form, field) is defined) %}
	        {{ form_row(attribute(form, field)) }}
	    {% endfor %}

		<h2 class="page-header">Batas dan Sesi</h2>

	    {% for field in [ 
	        'namaSesi',
	        'jumlahSesi',
	        'batasSesi'
	    ] if (attribute(form, field) is defined) %}
	        {{ form_row(attribute(form, field)) }}
	    {% endfor %}

		<h2 class="page-header">Pejabat</h2>

	    {% for field in [ 
	        'ketua',
	        'hpKetua',
	        'operator',
	        'hpOperator'
	    ] if (attribute(form, field) is defined) %}
	        {{ form_row(attribute(form, field)) }}
	    {% endfor %}

		<h2 class="page-header">Surat Keputusan</h2>

	    {% for field in [ 
	        'nomorSkDikti',
	        'tglSkDikti',
	        'tglBerakhirSkDikti',
	        'nomorSkBan',
	        'tglSkBan',
	        'tglBerakhirSkBan',
	        'akreditasi'
	    ] if (attribute(form, field) is defined) %}
	        {{ form_row(attribute(form, field)) }}
	    {% endfor %}

		<h2 class="page-header">Alamat</h2>

	    {{ form_rest(form) }}

	  	{{ form_end(form) }}

	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$("fpr,m")
</script>
{% endblock %}