{% extends 'base.html.twig' %}

{% block title %} Data Semester {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header"></div>
	<!-- /.box-header -->
	<div class="box-body">
			  	<table id="example1" class="table table-bordered table-striped">
					<thead>
					    <tr>
					    	<th>Kode</th>
					    	<th>Nama</th>
					    	<th>Semester</th>
					    	<th>Tahun Akademik</th>
					    	<th>Keterangan</th>
					    </tr>
					</thead>
					<tbody>
						{% for td in data %}
						<tr>
							<td>{{ td.kode }}</td>
							<td>{{ td.nama }}</td>
							<td>{{ td.semester }}</td>
							<td>{{ ( td.tahunAkademik is not null ) ? td.tahunAkademik.nama : '' }}</td>
							<td>{{ td.ket }}</td>
						</tr>
						{% endfor %}
					</tbody>
			  	</table>
	</div>
	<div class="box-footer"></div>
</div>
{% endblock %}