{% extends 'base.html.twig' %}

{% block title %} Set Kurikulum {% endblock %}

{% block content %}
<div class="box no-border">
	<div class="box-header"></div>
	<div class="box-body">

		{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

	  	{{ form_start(form) }}

	  	{{ form_errors(form) }}

	  	{{ form_widget(form) }}

	  	{{ form_end(form) }}

	</div>
</div>

<div class="box box-default">
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
	    <tr>
			<th class="text-center">No</th>
			<th>Tahun Angkatan</th>
			<th>Kurikulum</th>
			<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
	    	{% set no = 1 %}
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.tahun }}</td>
				<td>{{ td.kurikulum.nama }}</td>
				<td align="center">
					<a href="#" class="hapus-btn" data-id="{{ td.id }}" data-entity="ProdiKurikulum">Hapus</a>
				</td>
			</tr>
			{% set no = no+1 %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}