{% extends 'base.html.twig' %}

{% block title %} Master Jalur PMB {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('master_jalur_pmb', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
		    <tr>
				<th>&nbsp;</th>
				<th>Jalur PMB</th>
				<th>Keterangan</th>
				<th>&nbsp;</th>
		    </tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.nama }}</td>
				<td>{{ td.ket }}</td>
				<td align="center">
					<a href="{{ path('master_jalur_pmb', {aksi: 'edit', id: td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="#" class="btn btn-sm btn-danger hapus-btn" data-id="{{ td.id }}" data-entity="Master"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}