{% extends 'base.html.twig' %}

{% block title %} Data Calon Mahasiswa {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('calon_maba_tambah') }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<a href="{{ path('calon_maba_cetak') }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-print"></i> Cetak MABA</a>
		<button type="button" id="export-btn" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> Export ke Excel</button>
		<div class="box-tools pull-right">
			<select id="periode" class="form-control">
				<option value="">-- Periode PMB --</option>
				{% for pr in periodeList %}
					{% if pr.status != 'trash' %}
					<option value="{{ pr.id }}" {{ (app.request.get("periode") == pr.id) ? 'selected' : '' }}>Periode {{ pr.tahun }}/{{ pr.tahun+1 }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div> 
	{% if app.request.get('periode') is not empty %}
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
		    <tr>
				<th>&nbsp;</th>
				<th>ID PMB</th>
				<th>Nama Calon Mahasiswa</th>
				<th>Jenis Maba</th>
				<th>&nbsp;</th>
		    </tr>
	    </thead>
	    <tbody>

	    	{% if periode is not null %}
	    	{% for mhs in periode.mahasiswa %}
	    		{% if mhs.maba == 1 %}
	    		{% set prodi = (mhs.user.prodi is not null) ? mhs.user.prodi.namaProdi : '' %}
				<tr id="data-{{ mhs.id }}">
					<td align="center" width="20"></td>
					<td>{{ "%03d"|format(mhs.data.pmb.noUrut) }}</td>
					<td>{{ mhs.user.nama }}</td>
					<td>{{ printTerm(mhs.jenisDaftar) }}</td>
					<td align="center" width="100">
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								AKSI <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('calon_maba_edit', {id: mhs.user.id}) }}"><i class="fa fa-pencil"></i> Edit Profil</a></li>
								<li><a href="{{ path('pmb_formulir_view', {id: mhs.user.id}) }}" target="_blank"><i class="fa fa-user"></i> Lihat Profil</a></li>
								<li><a href="#" data-toggle="modal" data-target="#myModal" data-aksi="pendidikan" data-id="{{ mhs.id }}" data-id-pmb="{{ "%03d"|format(mhs.data.pmb.noUrut) }}" data-maba="{{ mhs.user.nama }}" data-prodi="{{ prodi }}"><i class="fa fa-mortar-board"></i> Pendidikan</a></li>
								<li><a href="#" data-toggle="modal" data-target="#myModal" data-aksi="berkas" data-id="{{ mhs.id }}" data-id-pmb="{{ "%03d"|format(mhs.data.pmb.noUrut) }}" data-maba="{{ mhs.user.nama }}" data-prodi="{{ prodi }}"><i class="fa fa-file"></i> Berkas</a></li>
								<li><a href="{{ path('mahasiswa_hapus', {nim:mhs.user.username, '_ret': 'calon_maba_index'}) }}" onclick="return confirm('Yakin ingin menghapus data?')"><i class="fa fa-trash"></i> Hapus</a></li>
							</ul>
						</div>
					</td>
				</tr>
				{% endif %}
	    	{% endfor %} 
	    	{% endif %}


{# 			{% for td in app_service.getListMahasiswaBaru() %}
			{% if td.mahasiswa is not null and td.mahasiswa.user is not null and td.mahasiswa.maba == 1 %}
			{% set mhs = td.mahasiswa %}
			{% set prodi = (mhs.user.prodi is not null) ? mhs.user.prodi.namaProdi : '' %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ "%03d"|format(td.noUrut) }}</td>
					<td>{{ mhs.user.nama }}</td>
					<td>{{ mhs.statusMasuk }}</td>
					<td align="center" width="100">
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								AKSI <span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('calon_maba_edit', {id: mhs.user.id}) }}"><i class="fa fa-pencil"></i> Edit Profil</a></li>
								<li><a href="{{ path('pmb_formulir_view', {id: mhs.user.id}) }}" target="_blank"><i class="fa fa-user"></i> Lihat Profil</a></li>
								<li><a href="#" data-toggle="modal" data-target="#myModal" data-aksi="pendidikan" data-id="{{ mhs.id }}" data-id-pmb="{{ "%03d"|format(td.noUrut) }}" data-maba="{{ mhs.user.nama }}" data-prodi="{{ prodi }}"><i class="fa fa-mortar-board"></i> Pendidikan</a></li>
								<li><a href="#" data-toggle="modal" data-target="#myModal" data-aksi="berkas" data-id="{{ mhs.id }}" data-id-pmb="{{ "%03d"|format(td.noUrut) }}" data-maba="{{ mhs.user.nama }}" data-prodi="{{ prodi }}"><i class="fa fa-file"></i> Berkas</a></li>
								<li><a href="{{ path('mahasiswa_hapus', {nim:mhs.user.username, '_ret': 'calon_maba_index'}) }}" onclick="return confirm('Yakin ingin menghapus data?')"><i class="fa fa-trash"></i> Hapus</a></li>
							</ul>
						</div>
					</td>
				</tr>
			{% endif %}
			{% endfor %} #}
	    </tbody>
	  </table>
	</div>
	{% endif %}
	<!-- /.box-body -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        	<tr>
        		<td>ID PMB</td>
        		<td id="pmb-id"></td>
        	</tr>
        	<tr>
        		<td>Nama Calon Maba</td>
        		<td id="pmb-maba"></td>
        	</tr>
        	<tr>
        		<td>Program Studi</td>
        		<td id="pmb-prodi"></td>
        	</tr>
        </table>

        <div id="mhs-pendidikan" style="display:none">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>Tahun</th>
        				<th>Tgl Ijazah</th>
        				<th>Gelar</th>
        				<th>Jenjang</th>
        				<th>Bidang Keilmuan</th>
        			</tr>
        		</thead>
        		<tbody></tbody>
        	</table>
        </div>

        <div id="mhs-berkas" style="display:none">
        	<table class="table">
        		<thead>
        			<tr>
        				<th>Jenis Berkas</th>
        				<th>File</th>
        			</tr>
        		</thead>
        		<tbody></tbody>
        	</table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  	$("#periode").on('change', function(){
  		var url = "{{ url('calon_maba_index') }}";
  		if (this.value !== '') {
  			window.location.replace(url+"?periode="+this.value);
  		}
  	});
</script>

<script>
	$('#myModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var aksi = button.data('aksi') // Extract info from data-* attributes
	  var id = button.data('id')
	  var pmb = button.data('id-pmb')
	  var maba = button.data('maba')
	  var prodi = button.data('prodi')
	  $("#pmb-id").text(pmb)
	  $("#pmb-maba").text(maba)
	  $("#pmb-prodi").text(prodi)
  	  var modal = $(this)
  	  modal.find('.modal-title').text( aksi.toUpperCase() + ' MAHASISWA' )
	  $.ajax({
	  	type: "POST",
	  	url: "{{ path('ambil_data_mahasiswa') }}",
	  	data: {id: id, jenis:aksi},
	  	success: function(response) {
		  	console.log(response)
		  	if ( aksi == 'pendidikan' ) {
		  		var html = '';
		  		for( var i=0; i < response.length; i++) {
		  			html += '<tr>';
		  			html += '<td>'+response[i].tahun+'</td>';
		  			html += '<td>'+response[i].tglIjazah+'</td>';
		  			html += '<td>'+response[i].gelarAkademik+'</td>';
		  			html += '<td>'+response[i].jenjang+'</td>';
		  			html += '<td>'+response[i].bidangKeilmuan+'</td>';
		  			html += '</tr>';
		  		}
		  		$("#mhs-pendidikan table tbody").html(html)
		  		$("#mhs-pendidikan").show()
		  		$("#mhs-berkas").hide()
		  	} else if ( aksi == 'berkas' ) {
		  		var html = '';
		  		for( var i=0; i < response.length; i++) {
		  			html += '<tr>';
		  			html += '<td>'+response[i].nama+'</td>';
		  			html += '<td><a target="_blank" href="'+response[i].url+'uploads/berkas/'+response[i].file+'">'+response[i].file+'</a></td>';
		  			html += '</tr>';
		  		}
		  		$("#mhs-berkas table tbody").html(html)
		  		$("#mhs-berkas").show()
		  		$("#mhs-pendidikan").hide()
		  	}
	  	}
	  });
	  // modal.find('.modal-body input').val(recipient)
	});
</script>
<script type="text/javascript">
	$("#export-btn").on('click', function(){
		$.LoadingOverlay("show");
		$.ajax({
			type: 'POST',
			url: '{{ path("calon_maba_export") }}',
			data: {},
			success: function(response) {
				var file_path = response;
				var a = document.createElement('A');
				a.href = file_path;
				a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
				document.body.appendChild(a);
				a.click();
				document.body.removeChild(a);
				$.LoadingOverlay("hide");
			}
		})
		.fail(function(){
			$.LoadingOverlay("hide");
			$.alert('Terjadi kesalahan...');
		});
	});
</script>
{% endblock %}