{% extends 'base.html.twig' %}

{% block title %} Periode PMB {% endblock %}

{% block content %}
<div class="box">
	<div class="box-header">
		<a href="{{ path('periode_pmb_index', {'aksi': 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-bordered table-striped">
	    <thead>
	    <tr>
				<th>&nbsp;</th>
				<th>Prodi</th>
				<th>Tgl. Mulai</th>
				<th>Tgl. USM</th>
				<th>Tgl. Her</th>
				<th>Nilai Minimal</th>
				<th width="130">&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
			{% for td in data %}
			{% if td.prodi is not null and td.status != 'trash' %}
			<tr id="data-{{ td.id }}">
				<td align="center" width="20"></td>
				<td>{{ td.prodi.namaProdi }}</td>
				<td>{{ dateRange(td.tglPendaftaran, 'mulai')|date('d-m-Y') }}</td>
				<td>{{ dateRange(td.tglUsm, 'mulai')|date('d-m-Y') }}</td>
				<td>{{ dateRange(td.tglHer, 'mulai')|date('d-m-Y') }}</td>
				<td>{{ td.nilaiMinimal }}</td>
				<td align="center">
					<a href="{{ path('periode_pmb_index', {aksi: 'edit', id: td.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
					<a href="javascript:void(0)" class="btn btn-sm btn-primary hapus-btn" data-id="{{ td.id }}" data-entity="PmbPeriode"><i class="fa fa-trash"></i></a>
					<a href="#" class="aksi-btn btn btn-sm btn-primary" data-id="{{ td.id }}" data-status="{{ td.status }}"><i class="fa fa-folder-{{ (td.status == 'active') ? 'open-' : '' }}o"></i></a>
				</td>
			</tr>
			{% endif %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}

{% block js %}
<script>
		$(".aksi-btn").click(function(e){
			e.preventDefault();
			var btn = $(this);
			var content = 'Aktifkan PMB?';
			if( btn.data('status') == 1 ) {
				content = 'Non-aktifkan PMB?';
			}
			$.confirm({
					title: '',
					content: content,
					buttons: {
							ya: function () {
									btn.html('<img src="{{ asset("uploads/loader2.gif") }}">');
									$.ajax({
										type: 'POST', 
										url: '{{ path("status_pmb_update") }}',
										data: {id:btn.data('id')},
										success: function(response) {
											console.log(response);
											btn.removeClass('btn-info').removeClass('disabled').addClass('btn-primary').html('<i class="fa fa-folder-o"></i>');
											if( response.status == 'active' ) {
												btn.html('<i class="fa fa-folder-open-o"></i>');
											} else {
												btn.html('<i class="fa fa-folder-o"></i>');
											}
											var pesan = 'Periode PMB yang dipilih telah diaktifkan.';
											var html = '<div class="alert alert-success">';
											html += '<p>'+pesan+'</p>'+'</div>';
											$("#pesan-notifikasi").html(html);
										}
									})
							},
							batal: function () {
									$.alert('Canceled!');
							}
					}
			});
		});
</script>
{% endblock %}