{% extends 'base.html.twig' %}

{% block title %} Batas Angsuran  {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header"></div>
	<div class="box-body">
	  <table class="table table-bordered table-striped">
	    <thead>
			<tr>
				<th>No</th>
				<th>Semester</th>
				<th>Angsuran 1</th>
				<th>Angsuran 2</th>
				<th>Angsuran 3</th>
				<th>Angsuran 4</th>
				<th>Angsuran 5</th>
				<th>Angsuran 6</th>
			</tr>
	    </thead>
	    <tbody>
	    	{% for i in 1..6 %}
	    	<tr>
	    		<td>{{ i }}</td>
	    		<td>Semester {{ i }}</td>
	    		{% for j in 1..6 %}
	    		<td>{{ getBatasAngsuran(i, j) }}</td>
	    		{% endfor %}
	    	</tr>
	    	{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
