{% extends 'base.html.twig' %}

{% block title %} Dispensasi Pembayaran  {% endblock %}

{% block content %}
<div class="box box-default">
	<div class="box-header">
		<a href="{{ path('dispensasi_pembayaran', {aksi: 'edit'}) }}" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> TAMBAH</a>
		<div class="box-tools pull-right"><button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button></div>
	</div>
	<div class="box-body">
	  <table id="datatable1" class="table table-hover table-striped table-responsive">
	    <thead>
				<tr>
					<th class="text-center">No</th>
					<th>Nama Rekomendasi</th>
					<th>Sampai Semester</th>
					<th>Diskon</th>
					<th>&nbsp;</th>
				</tr>
	    </thead>
	    <tbody>
	    	{% set no = 1 %}
			{% for td in data %}
				<tr id="data-{{ td.id }}">
					<td align="center" width="20"></td>
					<td>{{ td.nama }}</td>
					<td>{{ td.custom1 }}</td>
					<td>{{ td.custom2 }}%</td>
					<td align="center"><a href="#">Edit</a></td>
				</tr>
				{% set no = no+1 %}
			{% endfor %}
	    </tbody>
	  </table>
	</div>
	<!-- /.box-body -->
</div>
{% endblock %}
