{% extends 'base.html.twig' %}

{% block title %} Konfirmasi Pembayaran {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">

		{% if is_granted('ROLE_MAHASISWA') %}

			<p>Halaman ini digunakan untuk meng-upload bukti pembayaran.</p>

			{% form_theme form "form/bootstrap_3_horizontal_layout_custom.html.twig" %}

			{{ form_start(form) }}

			{{ form_errors(form) }}

			{{ form_widget(form.imageFile) }}

			{{ form_end(form) }}

			<hr>

			<table id="datatable1" class="table table-hover table-striped table-responsive">
				<thead>
				<tr>
					<th>No</th>
					<th>Tanggal Upload</th>
					<th>File Upload</th>
					<th>Keterangan</th>
					<th>Jumlah</th>
					<th>Status</th>
				</tr>
				</thead>
				<tbody>
					{% for td in data %}
						<tr id="data-{{ td.id }}">
							<td align="center" width="20"></td>
							<td>{{ ( td.tanggal is not null ) ? td.tanggal|date('d-m-Y') : '' }}</td>
							<td><a target="_blank" href="{{ asset('uploads/bukti_pembayaran/'~td.imageName) }}">Lihat Bukti</a></td>
							<td>{{ (td.biayaKuliah is not null) ? td.biayaKuliah.nama : '' }}</td>
							<td>{{ price(td.jumlah) }}</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% else %}


		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>No</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>File</th>
				<th>Tanggal</th>
				<th>Keterangan</th>
				<th>Proses</th>
				<th>Hapus</th>
			</tr>
			</thead>
			<tbody>
				{% for td in data %}
					<tr id="data-{{ td.id }}">
						<td align="center" width="20"></td>
						<td>{{ (td.mahasiswa is not null) ? td.mahasiswa.user.username : '' }}</td>
						<td>{{ (td.mahasiswa is not null) ? td.mahasiswa.user.nama : '' }}</td>
						<td><a href="{{ asset('uploads/bukti_pembayaran/'~td.imageFile) }}">Lihat Bukti</a></td>
						<td>{{ ( td.tanggal is not null ) ? td.tanggal|date('d-m-Y') : '' }}</td>
						<td>{{ (td.biayaKuliah is not null) ? td.biayaKuliah.nama : '' }}</td>
						<td></td>
						<td><a href="#" class="btn btn-danger btn-xs hapus-btn" data-id="{{ td.id }}" data-entity="PembayaranKonfirmasi"><i class="fa fa-trash"></i></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% endif %}

	</div>
</div>
{% endblock %}