{% extends 'base.html.twig' %}

{% block title %} Laporan Pembayaran {% endblock %}

{% block content %}
<div class="box">
	<div class="box-body">
		<table id="datatable1" class="table table-hover table-striped table-responsive">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>NIM</th>
				<th>Nama</th>
				<th>Angkatan</th>
				<th>Batas Studi</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}